[2015-10-16 16:58] janisz opened #1 "Wiki description is unclear"
Hi

Thanks for posting rPI kernel for quemu. I have problem runing it. I cloned this repo, and ran:

    qemu-system-arm -kernel kernel-qemu -cpu arm1176 -m 256 -M versatilepb -no-reboot -serial stdio -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw init=/bin/bash" -hda kernel-qemu

 Qemu is launching and I see some logs, but after a while it goes down. When I remove `-no-reboot` option it gets

[2015-10-18 02:49] SaeidYazdani opened #2 "Need more info"
Thanks a lot for your efforts. I have now a fully working raspberry pi emulated in my Ubuntu using the kernel you provided.

I have some questions:
What is the version of kernel you have compiled?
If we want to do this ourselves, what are the steps? Can you please provide a guide or something?

Thanks again and keep it up!

[2015-10-18 02:51] SaeidYazdani commented on #1
I think you did something wrong... -hda switch should point to the raspberry pi image.... but you have pointed it to the kernel again. You need something like this:

qemu-system-arm -kernel kernel-qemu -cpu arm1176 -m 256 -M versatilepb -no-reboot -serial stdio -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw init=/bin/bash" -hda name-of-your-rasp-image.img

[2015-10-18 03:08] dhruvvyas90 commented on #1
Like SaeidYazdani suggested, .img file of your rootfs should be passed as -hda parameter.

[2015-10-18 03:12] #1 closed

[2015-10-18 04:45] dhruvvyas90 commented on #2
If I remember clearly, it was 3.10.something kernel. You can always check which version of kernel you're running by `uname -a` command on qemu terminal. It should list out kernel version.

As far as, compiling guide is concerned, you can follow these guides.

https://web.archive.org/web/20131210001638/http://xecdesign.com/compiling-a-kernel/
https://web.archive.org/web/20131209235952/http://xecdes

[2015-10-18 04:45] #2 closed

[2015-10-22 20:04] janisz commented on #1
@SaeidYazdani @dhruvvyas90 Thanks, I downloaded small image and it's working.

[2015-11-11 15:51] rigorm opened #4 "reboot with Jessie"
Looks like there's a kernel crash with the 2015-09-24 Jessie. the boot sequence reboots.

[2015-11-13 18:10] dhruvvyas90 commented on #4
@rigorm I believe that this kernel only works with wheezy image. If you find out the solution to make it work with the latest jessie image, feel free to create a PR.

[2015-11-19 05:56] dhruvvyas90 commented on #4
@rigorm I've compiled and added 4.1.7+ kernel which is compatible with jessie image (ie, it boots fine and all). But there are fewer bugs which are I think image specific and systemd. It sends me to emergency mode upon booting. You can give it a shot.

[2015-11-19 05:56] #4 closed

[2016-01-25 07:18] loolooyyyy opened #6 "automated script"
Hi.

I created an automated script for downloading the kernel, modifying the image and running the qemu instance. available at https://github.com/loolooyyyy/rassbpery-qemu.

[2016-01-25 07:39] dhruvvyas90 commented on #6
Closing it since it's more like an automated script info instead of an actual issue. Appreciate the effort to automate it further. :) Hope it's fine. :)

[2016-01-25 07:39] #6 closed

[2016-02-04 13:23] hpeyerl opened #7 "Can't boot kernel built using build-kernel-qemu"
Using a raspbian-ua-netinst-v1.0.8.1.img, I can boot using both kernel-qemu-4.1.7-jessie and kernel-qemu-4.1.13-jessie which is awesome.  Unfortunately, after install is finished, systemd has trouble with dev-sda1.device and dev-ttyAMA0.device; presumably due to 'CONFIG_FHANDLE is not set'.  So I modified build-kernel-qemu to include 'CONFIG_FHANDLE=y' and rebuilt the kernel.  Unfortunately, on bo

[2016-02-04 15:14] dhruvvyas90 commented on #7
May I have the link of the image file that you're using ?

[2016-02-04 17:40] hpeyerl commented on #7
https://github.com/debian-pi/raspbian-ua-netinst/releases/tag/v1.0.8.1

It needs to be prepared using all the usual s/mmcblk0p1/sda1/ and ld.so.preload stuff...  Also add/grow a second partition to about 500MB's.   I can post the prep script I used after I get home.

That's an installer image.  After you boot it, it will apt-get install a bunch of stuff and then try to reboot to multi-user... Rebo

[2016-02-04 17:55] hpeyerl commented on #7
Here's the prep script I used:

https://github.com/JedMeister/playing-with-rpi/blob/master/raspbian-ua-netinst-qemu-prep.sh

[2016-02-05 13:07] hpeyerl commented on #7
Here is the problematic output when booting one of your pre-built kernels..

[ ***  ] (1 of 2) A start job is running for dev-sda1.devi...41s / 1min 30s)
[ ***  ] (2 of 2) A start job is running for dev-ttyAMA0.devi...43s / 1min 30s)

[2016-02-14 12:54] mariohmol opened #8 "Kernel x Jessie"
I'm trying to boot jessie version , tested with your 2 versions of kernel and from others repo as well, always get the error:

* Kernel panic - not syncing : Attempted to kill init

Tested using image 2016-02-09-raspbian-jessie.img and this cmd :

* qemu-system-arm -kernel kernel-qemu -cpu arm1176 -m 256 -M versatilepb -no-reboot -serial stdio -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw ini

[2016-02-14 14:10] mariohmol commented on #8
I could make work using old versions (kernel and raspbien)

* qemu-system-arm -kernel kernel-qemu-3.10.25-wheezy -cpu arm1176 -m 256 -M versatilepb -no-reboot -serial stdio -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw init=/bin/bash" -hda 2012-12-16-wheezy-raspbian.img

[2016-02-14 14:11] dhruvvyas90 commented on #8
I've tested jessie kernels on repo with 2015-11-21 and 2015-09-25 jessie images. I do not have the latest image. Let me download and test. I will let you know.

[2016-02-14 15:32] mariohmol commented on #8
Wheezy version works. but when i use startx (using root or pi) , it shows me the view but mouse/keyboard not works..

[2016-02-14 15:45] mariohmol commented on #8
mouse worked after doing the steps described here:

* https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki

I thought that this were just for jessie version

[2016-02-14 15:57] mariohmol commented on #8
The steps that i did are here:

* https://github.com/mariohmol/raspberrypi-selfie

[2016-02-16 10:46] dhruvvyas90 commented on #8
Did you make necessary changes in .img file like it specifies in wiki before trying to emulate with the kernel on the repo ?

[2016-02-16 14:49] mariohmol commented on #8
Sorry, my mistake, there is:

* https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.1.x-kernel

I'm using OSx and i could not reproduce this steps. See that i did:

i can read boot partition in image file:

[code]

I can unmount boot disk:

[code]

If i try to mount linux , it gives me error:

[code]

But if i mount boot, it works:

[code]

Here is the description of

[2016-02-16 17:07] mariohmol commented on #8
Using diskutil i have same issue. Found that the Problem about ext4.

Could not install this:
https://sourceforge.net/p/fuse-ext2/discussion/787602/thread/754d1615/

All opensource are readonly.
https://github.com/gerard/ext4fuse

Going to make a vmbox with ubuntu, to get this image and make the changes.

[2016-02-16 17:09] mariohmol commented on #8
Closing for now, after that if i have problems we can continue. Thanks!

[2016-02-16 17:09] #8 closed

[2016-02-16 17:48] dhruvvyas90 commented on #8
@mariohmol: As of now, I don't know any **free** utility that could be used to read and write an ext4 on Mac OS X, but you can do it in virtual box or something running linux. There are few paid options like paragon and others, but I haven't tested if they could be used to mount an ext4 to modify the data as mentioned in wiki. If you come up with a better solution to tackle this issue, do let us k

[2016-02-17 22:43] stephen144 opened #9 "wiki: error about disk image format"
Regarding the wiki, I encountered this error when specifying the image with:

`-hda posbox.img`

I had to use this instead as per the qemu [manual](http://qemu.weilnetz.de/qemu-doc.html#sec_005finvocation):

`-drive file=posbox.img,index=0,media=disk,format=raw`

[2016-02-18 06:09] dhruvvyas90 commented on #9
As far as I know, it is just a warning, and hence it's safe to use it with `-hda` argument. But yes, you're right, it would be wise to use `-drive` just to be on safe side. Feel free to change wiki, after successful testing.

[2016-03-01 11:27] dhruvvyas90 commented on #9
@stephen144:  Closing this issue since it is just a warning and emulation works fine with `-hda` argument. Although, this warning can be avoided by using `-drive` option.

[2016-03-01 11:27] #9 closed

[2016-03-01 11:28] dhruvvyas90 commented on #7
@hpeyerl: Were you able to find a fix for your particular rootfs ?

[2016-03-01 12:00] hpeyerl commented on #7
No.  I would have to downgrade systemd to something from 2012 and I wasn't able to find a binary package in the repo for it.

[2016-03-05 18:46] robajz opened #10 "Outdated for 4.1.18"
Hello, thanks for the great archeology work! :o)

I've followed the build script for current Linux 4.1.18 version and apparently, the script and patch are outdated:

[code]

The patch did not apply fully and [some other tweak is needed for the MMC BCM2835 driver](https://askubuntu.com/a/628266/44807).

See https://github.com/robajz/qemu-rpi-kernel for changes that got me through it.

Kind regards,

[2016-03-15 21:20] eddywebs commented on #10
Hi @robajz and @dhruvvyas90 I am trying to emulate the latest (At the time if writing) 2016-02-26-raspbian-jessie-lite.zip along with kernel-qemu-4.1.13-jessie kernel however the qemu keeps on re-booting up with below messages in terminal. Any idea why ?
`WARNING: Image format was not specified for '2016-02-26-raspbian-jessie-lite.img' and probing guessed raw.
         Automatically detecting the

[2016-03-16 02:16] dhruvvyas90 commented on #10
@eddywebs : Did you perform changes in .img as mentioned over [ here ](https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.1.x-kernel)?

[2016-03-16 02:16] dhruvvyas90 commented on #10
@robajz : Feel free to submit a PR with necessary changes.

[2016-04-05 18:37] dhiraj113 opened #12 "What is meant by emulating rpi on qemu"
This probably is a very dumb question, but nevertheless I do ask it here. What exactly is meant by emulating rpi-kernel on qemu. Is it any different from emulating ARM ISA using qemu. Does qemu emulation, by any chance, also emulate the Rasberry Pi's BCM2835 board i.e. does it emulate the peripheral devices, memory mapped I/O registers etc.

[2016-04-09 09:30] #10 closed

[2016-04-11 20:49] chrisspen opened #13 "Boot silently fails"
Using an [Ubuntu ARM](https://wiki.ubuntu.com/ARM/RaspberryPi), step 1 from the wiki doesn't seem to do anything. I'm running:

    qemu-system-arm -kernel kernel-qemu-4.1.13-jessie \
                -cpu arm1176 \
                -m 256 \
                -M versatilepb \
                -no-reboot \
                -serial stdio \
                -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw

[2016-04-12 05:57] dhruvvyas90 commented on #13
Did you modify `fstab` entries as per this post : https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.1.x-kernel before using it ? I've never tried emulating ubuntu, but it should just work.

[2016-04-12 13:40] chrisspen commented on #13
I missed that link. That was it. Thanks.

[2016-04-12 13:40] #13 closed

[2016-04-12 18:15] chrisspen opened #14 "Overwriting .config"
Is the sequence in build-kernel-qemu correct?

You append some custom parameters to `.config` but then you run:

    make -j 4 -k ARCH=arm CROSS_COMPILE=${TOOLCHAIN}- menuconfig

which overwrites this file and removes most of those values. Should that order be reversed? Why are you appending those parameters if they're just being removed?

Also, I see you're using the `arm-linux-gnueabihf` toolcha

[2016-04-20 00:22] rimmington commented on #7
@hpeyerl In case you're still working on this:

* I ran into the same issue re ttyAMA0. My branch with fixes is at https://github.com/rimmington/qemu-rpi-kernel/tree/4.1.18-fhandle
* I've uploaded a `.config` that works for me with Raspbian Jessie lite at https://gist.github.com/rimmington/a72c83348b9d5859c62e83aa03540f03
* For reference, the `qemu` command I'm using: `qemu-system-arm -kernel ./ke

[2016-04-20 13:15] hpeyerl commented on #7
Thanks.  That works for me.  I had already tried adding CONFIG_FHANDLE=y  but I wasn't doing it with 4.1.18 plus it seems you have a few extra CONFIG_*'s in there ... shrug.

I had to modify the build script due to a problem with unzip on Ubuntu 14.04 with github .zip files .. I switched to .tar.gz instead of .zip instead of arguing with unzip...

https://github.com/hpeyerl/qemu-rpi-kernel/commit/

[2016-05-17 06:03] dhruvvyas90 commented on #7
@hpeyerl: Does solution by rimmington solve your problem ? May I close this issue ?

[2016-05-17 10:53] hpeyerl commented on #7
Yes.

[2016-05-17 11:21] #7 closed

[2016-05-17 12:06] dhruvvyas90 commented on #14
@chrisspen: I think it's correct. It works fine for me on my linux box.

[2016-05-17 14:41] chrisspen commented on #14
It doesn't prompt you? I followed your instructions exactly, so either it doesn't work at all on Ubuntu, or there's something missing from your instructions.

[2016-05-25 15:51] johnjelinek opened #15 "None of these kernels work with the raspian_latest"
![qemu](https://cloud.githubusercontent.com/assets/873610/15546721/9883f6a4-2266-11e6-99ac-cb8ce64b382e.png)
This is what I see, with all the jessie kernels in this repo. The website says latest kernel is `4.4`. Should I build my own?

[2016-05-25 16:13] applyhhj commented on #15
You can follow this https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.1.x-kernel to solve the problem.

Best regards!

2016-05-26

发件人：John Jelinek IV <notifications@github.com>
发送时间：2016-05-26 00:01
主题：[dhruvvyas90/qemu-rpi-kernel] None of these kernels work with the raspian_latest (#15)
收件人："dhruvvyas90/qemu-rpi-kernel"<qemu-rpi-kernel@noreply.github.com>
抄送：

Thi

[2016-06-01 08:20] dhruvvyas90 commented on #15
@johnjelinek: Were you able to run repo kernels with the latest images after following wiki ?

[2016-06-01 13:06] johnjelinek commented on #15
I haven't tried it yet with the instructions from the wiki

On Wednesday, June 1, 2016, Dhruv Vyas <notifications@github.com> wrote:

[2016-06-03 11:26] chiwanpark commented on #15
I have a same problem and instruction in wiki doesn't work for me.

[2016-06-03 13:39] dhruvvyas90 commented on #15
@chiwanpark: Can you tell me which Raspbian image is failing to boot ? It's important to note that offset number mentioned in step #1 differs for each image.

[2016-06-03 14:40] chiwanpark commented on #15
I used Raspbian Jessie Lite image from https://www.raspberrypi.org/downloads/raspbian/ here. I downloaded it yesterday. It seems that I need to re-compile 4.4 kernel.

[2016-06-03 14:49] chiwanpark commented on #15
Here is partition table information:

[code]

[2016-06-04 09:35] chiwanpark commented on #15
I succeeded booting with re-compiled kernel based on `rpi-4.4.y` branch.

[2016-06-04 10:01] dhruvvyas90 commented on #15
@chiwanpark: That's great news. Can you fork this repo, add compiled kernel from 4.4.y branch and create a pull request ? I didn't have a chance to test this issue since I currently don't have any linux box with me. Will give it a shot next week. Thanks.

[2016-06-04 10:03] chiwanpark commented on #15
Okay, I'll send a PR in tomorrow. :-)

[2016-06-04 10:05] dhruvvyas90 commented on #15
@chiwanpark: Thanks a lot. Appreciate your efforts. :)

[2016-06-07 15:03] dhruvvyas90 commented on #15
@johnjelinek: You should be able to emulate the latest image with 4.4.11 kernel.

[2016-06-09 14:35] jeffforbes commented on #15
I am unable to get the latest (2016-05-27) regular jessie or lite jessie images to boot with the 4.4.11-jessie kernel. The screen output is like the first comment, except for the lin:
CPU: 0 PID: 1 Comm: bash Not tainted  4.4.12+ #3
I am using qemu-system-arm under Fedora 23, if that makes a difference.
Any suggestions as to what may be the problem?

[2016-06-09 14:56] chiwanpark commented on #15
@jeffforbes Did you modify your jessie (or jessie lite) images with instructions in [wiki](https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.x.xx-kernel)?

[2016-06-09 15:47] jeffforbes commented on #15
No I did not, since I am unable to reach that page from the root of the wiki.
The information in your link above did allow the image to boot.
Thank you.

[2016-06-09 16:01] dhruvvyas90 commented on #15
@chiwanpark: Thank you for your support. :) @jeffforbes: I'm glad that it's working now.
Closing this issue since it's been fixed with the latest commit by @chiwanpark.

[2016-06-09 16:01] #15 closed

[2016-06-09 16:02] dhruvvyas90 commented on #14
Hi, @chrisspen: It doesn't prompt. Not sure, what's at play in your particular case. Are you still facing the same problem ?

[2016-06-09 16:07] dhruvvyas90 commented on #12
@dhiraj113: Sorry for the delayed answer. Emulating rpi-kernel on Qemu means it allows users to mimic Raspberry pi's behaviour on their native computers. As far as my understanding goes, these particular kernels are configured for versatilepb board (not BCM2835) and hence it shouldn't emulate BCM2835's memory mapped I/O registers and peripheral devices. I may be wrong here due to my limited unders

[2016-06-09 16:07] #12 closed

[2016-06-14 21:50] glama opened #17 "Version labeled as 4.4.11 appears to be 4.4.12."
Message
COmm: swapper Not tainted 4.4.12+

[2016-06-27 11:37] WuTianming commented on #17
Kernel panic: Comm: bash Not tainted 4.4.12+

[2016-06-29 01:52] tomerb commented on #14
You can do make olddefconfig, to not be prompted (default settings will be automatically applied).

[2016-06-29 05:59] dhruvvyas90 commented on #14
@chrisspen: Can you try "make olddefconfig" as per tomerb's comment above ?

[2016-06-29 13:41] chrisspen commented on #14
Sorry, this process became too burdensome and time-consuming, so I've abandoned my attempt to virtualize an RPi. Thanks for your help though.

[2016-06-29 13:41] #14 closed

[2016-07-02 15:23] dhruvvyas90 commented on #17
I confirm this issue and fixed it by the latest commit.

[2016-07-02 15:23] #17 closed

[2016-07-18 11:09] bablokb opened #18 "CONFIG_FHANDLE=y missing"
With jessie, boot fails if you have additional mountpoints in /etc/fstab. This seems to be related to a number of kernel-config parameters which systemd needs but your kernel does not provide, especially CONFIG_FHANDLE.

Note this is not a qemu/raspbian specific issue, see  [http://forums.debian.net/viewtopic.php?f=10&t=118828](url) for a discussion and additional links (at the bottom of the page)

[2016-07-26 07:49] taufiqkh opened #19 "Typo in wiki link to emulating Jessie"
The [home](https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki) wiki page link to `Emulating-Jessie-image-with-4.1.x-kernel` is broken, link should be to `Emulating-Jessie-image-with-4.x.xx-kernel`.

[2016-07-26 17:10] dhruvvyas90 commented on #19
Fixed wiki.

[2016-07-26 17:10] #19 closed

[2016-08-03 08:32] cbirchinger commented on #18
The CONFIG_FHANDLE parameter is also required for systemd to start serial gettys. Without the option it'll timeout the service on boot.

The option would really help to start without graphics ("-nographic") and "console=ttyAMA0" which gives
you a getty on the current terminal and doesn't need any graphical window.

I'm not fully sure, but i think CONFIG_FHANDLE is listed as requirement for systemd

[2016-08-25 18:36] cirosantilli opened #20 "How to start the X11 GUI? Stuck on "No session for pid <PID>.""
I've managed to login on a shell after reading the wiki: https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.x.xx-kernel as in http://raspberrypi.stackexchange.com/questions/165/emulation-on-a-linux-pc/53991#53991 , thanks!

How to get the GUI working now?

I've tried: `startx`, and it does start and show the GUI, but everything is frozen and there is a popup saying:

[2016-09-11 13:48] ferbar opened #21 "build-kernel-qemu fails to build a running 4.4.11 kernel"
Hi,

when I try to build a kernel for raspberrypi-kernel-20160620 qemu refuses to start the kernel with:

I think there are config options missing in the build script. Do you have the kernel config for the 4.4.12 kernel? thx!

[2016-09-11 16:05] EdgarOliveira opened #22 "Script to run img with qemu"
Hello,

Share with us this script, I relied in this article (http://dhruvvyas.com/blog/?p=49) to built this: https://github.com/EdgarOliveira/scriptlinux/blob/master/qemu_choose_vm.sh

I hope it is advantageous for you
ENO

[2016-09-11 16:42] EdgarOliveira commented on #20
Hello,

Try following my script: https://github.com/dhruvvyas90/qemu-rpi-kernel/issues/22
Maybe didn't set all file necessary!

[2016-09-11 17:45] cirosantilli commented on #20
@EdgarOliveira hmm, that seems to be what I've done. The only modifications to the image were to comment out `ld.so.preload` and `fstab` no?

So your GUI works fine? What are the exact versions of everything you are using:

- Raspbian
- Host Distro
- QEMU

[2016-09-11 18:38] EdgarOliveira commented on #20
I just tried this version:

2016-05-27-raspbian-jessie
DietPi_v130_RPi-armv6-(Jessie)

I am using Lubuntu 16.04 4.4.0-34-generic. I only installed qemu-system->QEMU full system emulation binaries and another reason which I don't understand I can't find version of this installation. I will search more deep and i will report!

[2016-09-12 00:24] dhruvvyas90 commented on #22
@EdgarOliveira: You can add that script to the tools folder and send me a pull request.

[2016-09-12 08:01] ferbar commented on #21
this kernel config works:
https://github.com/rimmington/qemu-rpi-kernel/blob/docker/tools/build-kernel-qemu

Iask you to enable /proc/config.gz:

CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

[2016-09-12 09:58] EdgarOliveira commented on #22
@dhruvvyas90 Hello, thank you for you interest. I think did a pull request, please confirm me, because I am a newbie in github and some tools I don't know!

[2016-09-12 20:41] dhruvvyas90 commented on #22
Merged. :) You can probably make necessary changes in wiki as well, that utilises your script well. Once you are done, lemme know. I will have a look at good. Good work. :)

[2016-09-12 20:41] #22 closed

[2016-09-12 20:43] dhruvvyas90 commented on #15
@chiwanpark: Can you post your config file which you used to compile the kernel if you have it handy ? Thanks.

[2016-09-13 06:43] chiwanpark commented on #15
Unfotunately, I removed the virtual machines to be used to create the kernel image. Sorry.

[2016-09-14 18:28] dhruvvyas90 commented on #21
@ferbar: Can you create a pull request to add this new config file under tools section ? Appreciate it.

[2016-09-15 10:17] ferbar commented on #21
see #25
thx!

[2016-09-15 10:18] ferbar commented on #18
included in #25

[2016-09-15 15:16] dhruvvyas90 commented on #21
Merged.

[2016-09-15 15:16] #21 closed

[2016-09-15 15:17] dhruvvyas90 commented on #18
Solved by PR #25

[2016-09-15 15:17] #18 closed

[2016-09-15 15:19] dhruvvyas90 commented on #20
@cirosantilli: Can you check if this problem persists with the newer kernel added on the repo recently ? 4.4.13 ?

[2016-09-15 21:52] cirosantilli commented on #20
@dhruvvyas90 still same. You don't reproduce?

[2016-09-16 17:51] dhruvvyas90 commented on #20
@cirosantilli: I don't seem to reproduce the same issue on my computer. I'm running 14.04 Lubuntu on a virtual machine on my mac which is different than your configuration though.

[2016-09-20 21:31] saildata commented on #20
@cirosantilli That looks like a [PAM](https://wiki.archlinux.org/index.php/PAM) security issue/pop-up.

Can you check for the file, `/etc/pam.d/login`? PID 138 tells you that it's a very early stage process that's failing, like something in the PAM libraries.

If you are able to drop back down to your shell, e.g. with `ctrl+F2`:
 - filter the systemd journal to just that PID with the command `jour

[2016-09-24 13:01] cirosantilli commented on #20
@saildata

I cannot find how to drop back to a shell:

- Ctrl + F2 does nothing
- Ctrl + Alt + F2 is captured by host
- Ctrl + Alt + 2 then `sendkey ctrl+alt+f2` does nothing.

I tried to run `journalctl` on a second login, but the files don't persist, not sure why.

`/etc/pam.d/login`:

[code]

[2016-09-25 06:05] saildata commented on #20
@cirosantilli Thanks for the detailed information. There is so many things it could be, I know it's frustrating - been there before!

Since it's such an oddball item, that others aren't really seeing, myself included, that leads me to believe that it's something with your image file or otherwise a local problem. Is there another image you can try? Have you tried it on bare-metal (actual Pi?) to se

[2016-09-28 22:29] dhruvvyas90 commented on #20
@cirosantilli: Any progress on what @saildata suggested ?

[2016-09-28 23:07] cirosantilli commented on #20
@saildata I commend you for your patience...

Which other image? I have already successfully run Ubuntu and buildroot images with X11 on my QEMU.

This is what I'm doing step by step: http://raspberrypi.stackexchange.com/questions/165/emulation-on-a-linux-pc/53991#53991

I don't know how to tell QEMU to write things to disk, e.g. `touch a` does not persist.

The PI does not boot up with the modifi

[2016-09-29 05:02] saildata commented on #20
@cirosantilli Thank you for your patience as well! Sorry it's not working out for you. It sounds like the image is mounted read only, but from your post it looks like you're doing the correct command for rw access. I'd suggest trying a different method, from one of the following two tutorials...

In the past, I followed [this guide](https://lionfacelemonface.wordpress.com/2015/04/18/raspberry-pi-b

[2016-09-29 07:13] cirosantilli commented on #20
@saildata

No, the if I did wouldn't the image be identical to the official one and would just work?

True! I have already used VNC before ;-) But even simpler, I'll just forward SSH into it!

I'll reply later with what I observe.

[2016-10-02 05:46] saildata commented on #20
Hopefully I understand your response -- correct me if this is wrong. You do need a valid linker/loader (the `ld.so.preload` file) for the image to boot. In other words - the revisions you make so that QEMU can boot the image need to be reverted back to their original state before writing the image to an SD card so that the Rpi can use it. If you were to write the image back to an SD card and try t

[2016-10-02 22:09] cirosantilli commented on #20
The `-append "init=/bin/bash"` was definitely not helping. :-)

[2016-10-02 22:09] #20 closed

[2016-10-02 23:25] EdgarOliveira commented on #20
Hello,

I am trying use qemu to test images iso just like Lubuntu, Ubuntu and
debian. I can run iso which live CD but the performance it is very bad! Do
you advice this program for this purpose or suggest any software?

I tested with qemu because I like this program because I can using it
through terminal.

Thanks

On Oct 2, 2016 11:09 PM, "cirosantilli" <notifications@github.com> wrote:

[2016-10-03 06:43] cirosantilli commented on #20
@EdgarOliveira I don't think we can get super good performance on ARM emulation from x86, because x86 has hardware support for emulation.

[2016-10-03 10:32] EdgarOliveira commented on #20
@cirosantilli
What software suggest to execute virtual machine from terminal for x86?

On Oct 3, 2016 7:43 AM, "cirosantilli" <notifications@github.com> wrote:

[2017-01-12 18:05] alexAubin opened #27 "Support for IPv6 ?"
Hi there,

this is some awesome work here and I'm very glad to be able to emulate a RaspberryPi thanks to Qemu and these kernels 👍 !

However I noticed that for my application, I need ipv6 enabled. Currently, loading the ipv6 module fails during boot an I get messages such as :
[code]

I'm a huge noob when it comes to kernels, but somehow this sounds related to the IPv6 flags not being set [here](

[2017-01-19 01:55] dhruvvyas90 commented on #27
A new PR has been merged which consists a couple of more advanced kernels. May be you can try them and see if any of them suits your requirement.

[2017-01-19 02:08] alexAubin commented on #27
Eeeeh, unfortunately I was already trying these kernels (and had a few tries with the less recent ones), but always end up with this issue. I'm actually not even sure if that's related to my particular use case, or if that's a kernel issue, or a raspbian image issue :confused:.

[2017-01-19 02:49] dhruvvyas90 commented on #27
@alexAubin: Let me try to build a new kernel with slightly altered configuration. I will get back to you on this issue very soon.

[2017-01-19 02:53] alexAubin commented on #27
Okay, thank you so much !

[2017-01-24 23:09] phildubach commented on #27
I encountered the same issue. Workaround below.

I'm running the `kernel-qemu-4.4.34-jessie` kernel on `2016-11-25-raspbian-jessie-lite.img` or `2017-01-11-raspbian-jessie-lite.img` with the same results.
None of the modules are loaded due to version magic mismatch.

As can be seen in `/var/log/syslog`, there are a number of failed module loads:
[code]

The version magic issue is easy enough to fi

[2017-01-24 23:49] alexAubin commented on #27
Thanks a lot for investigating the issue !

What do you mean by "Enable support for ipv6 in the kernel (not as a module)." ? Is that related to the flags when compiling the kernel ?

[2017-01-25 05:23] phildubach commented on #27
Yes, it's one of the many options you can enable when compiling the kernel. IPv6 support can either be statically compiled into the kernel (making the kernel bigger and wasting memory if IPv6 isn't needed) or as a loadable kernel module.

I believe that when I built the kernel with include IPv6 support, I still saw startup messages saying that the IPv6 module could not be loaded. I'll double-check

[2017-01-26 17:20] dhruvvyas90 commented on #27
@phildubach: If you can create a PR with your kernel with IPv6 enabled, that would be great.

[2017-03-04 16:31] ICHx opened #28 "How can I use -M raspi2 with this kernel?"
I do not know if I should use the kernel7.img or the kernel image from this repo, but I tried many times with no success

.\bin\qemu-system-armw -M raspi2 -kernel kernel-qemu-4.4.34-jessie -hda rasp.qcow -append "rw earlyprintk  dwc_otg.lpm_enable=0 root=/dev/sda2 init=/bin/sh" -dtb bcm2709-rpi-2-b.dtb -usbdevice mouse -usbdevice keyboard -serial stdio
.\bin\qemu-system-armw -M raspi2 -kernel kern

[2017-03-07 16:37] dhruvvyas90 commented on #28
@ICHx: Kernels on these repo only work with qemu machine versatilepb (-M versatilepb), since qemu didn't have Rpi machine support initially. As far as second, command goes, try removing init=/bin/sh and see if it works. With -M raspi2 kernel7.img should work out of the box. Hope it helps.

[2017-03-07 21:42] alexander-behring commented on #28
@ICHx: You might try to start out from my command line:
qemu-system-arm -kernel kernel-qemu-4.4.34-jessie -cpu arm1176 -m 256 -machine versatilepb -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw vga=normal console=ttyAMA0" -drive "file=/data/raspbian-jessie-lite.img,index=0,media=disk,format=raw" -no-reboot -serial stdio -curses
Funny thing - MSDN has a quite good tutorial on this [LINK](https:

[2017-03-13 10:52] Seraphime opened #29 "Release"
Hi, I wanted to thank you for those kernels. We end up using them quite a lot.

Do you think it would be possible to do a release of the latest kernel hosted here, so there may be an easy and uniform way to fetch it ?

Thanks

[2017-03-22 21:21] dhruvvyas90 commented on #29
@Seraphime: Hello, I appreciate that kernels on this repo help you a lot, but I didn't quite understand the later part of your comment. Do you want to contribute new kernels to this repository ? If that's what you mean, you're most welcome.

[2017-03-22 21:24] dhruvvyas90 commented on #28
@ICHx: Do the recent comments solve your problem ? Like I said, if qemu added machine support for Raspberry pi 2, it should work out of the box with kernel7.img fetched from raspberry pi without needing any modifications in kernel. I couldn't find any documentation on machine support by qemu on raspberry pi. May be you're trying out the famous torlus qemu fork. If it is the first case, do let me k

[2017-03-22 21:25] dhruvvyas90 commented on #27
@alexAubin: Did comments by phildubach help you solve your problem ? If yes, you can add a wiki and possibly your own derived kernel with IPv6 enabled to this repo. Thanks, - Dhruv.

[2017-03-22 21:46] alexAubin commented on #27
Eeeeeh kind of, but I've never compiled that kind of kernel so I expect it's going to take me some times to be able to set it up if I start digging it. And I don't have so much time to invest in this right now :/ For now my dirty work around was to disable IPv6 stuff on the services that needed it (nginx, dovecot...), which is quite dirty for my application but does the job :/. Sorry for not being

[2017-03-28 14:28] ajgriesemer opened #30 "4.9 Kernel patch"
It looks like Raspbian is getting ready to move to the 4.9 kernel sometime soon
https://www.raspberrypi.org/forums/viewtopic.php?t=167934

Have you looked into porting these fixes to the 4.9 kernel? I ran a quick test to see if the patch would apply on the current 4.9 Raspberry Pi kernel and it failed.

[2017-03-28 20:40] ajgriesemer commented on #28
@ICHx might be referring to the raspi2 machine that was added in version 2.6. Unfortunately, according to the changelogs it doesn't like like you should expect much from it.

[From Change Log 2.6 ](http://wiki.qemu-project.org/ChangeLog/2.6)

[From Known Issues section of Change Log 2.7 ](http://wiki.qemu-project.org/ChangeLog/2.7)

[2017-04-04 18:46] dhruvvyas90 commented on #30
@ajgriesemer: Hi, I believe that it would still take some time for 4.9.0 to arrive. Once organization releases it officially, I will try to build the kernel for Qemu.

[2017-04-04 18:47] dhruvvyas90 commented on #28
@ICHx : I'm closing this issue since it doesn't versatilepb machine as we use in here.

[2017-04-04 18:47] #28 closed

[2017-04-06 10:12] t-sharabi opened #31 "QEMU for raspberry Pi always reboot"
I NEED HELP

**I have done everything wright....i think, but I am stuck in rebooting

here is the output and i did put panic value to 100 for delay**

WARNING: Image format was not specified for '2016-11-25-raspbian-jessie-lite.img' and probing guessed raw.
         Automatically detecting the format is dangerous for raw images, write operations on block 0 will be restricted.
         Specify the

[2017-04-06 22:07] Urmel commented on #31
@t-sharabi I don't see an error message - funny :) Maybe no init? Guessing...
Can you post your command line, as well as whether this is your first boot? Which image did you use for the HDD? Did you modify it?

[2017-04-11 09:10] t-sharabi commented on #31
thank you for your swift reply, here is some information that may help

* my system is Ubuntu 16.04 LTS 64bit

* sudo qemu-system-arm --version
QEMU emulator version 2.5.0 (Debian 1:2.5+dfsg-5ubuntu10.10), Copyright (c) 2003-2008 Fabrice Bellard

* the raspberry pi image is "2016-11-25-raspbian-jessie-lite.img"

* the qemu kernel is kernel-qemu-4.4.34-jessie

* I am running a config file to start

[2017-04-17 02:28] dhruvvyas90 commented on #31
@t-sharabi: Did you change the content of your image as per wiki ? Link: https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.x.xx-kernel
Hope it helps.

[2017-04-17 02:29] dhruvvyas90 commented on #29
@Seraphime: Since there is no reply from op on this issue, I'm closing this issue.

[2017-04-17 02:29] #29 closed

[2017-04-17 02:29] #30 closed

[2017-04-21 10:54] drkurrey opened #32 "Unable to Boot R Pi Jessie in QEMU"
The Configuration file has the following content.

#Starts raspberry pi image in configuration mode
qemu-system-arm -kernel ./qemu-rpi-kernel/kernel-qemu-4.4.34-jessie /-cpu arm1176 /m 256 /M versatilepb /no-reboot /serial stdio /append "root=/dev/sda2 panic=1 rootfstype=ext4 rw init=/bin/bash" -hda rpiJessie.img

When the config file is made to run it shows the following

I have done what I could

[2017-04-21 10:59] drkurrey commented on #31
@dhruvvyas90, I have followed the instructions provided in the above link mentioned by you.

@t-sharabi, can you provide me your config file, so that I can find the error in my PC.

[2017-04-21 12:08] drawkula commented on #32
I got curious and just tried it in Debian-8.6 using a freshly homegrown `qemu-v2.9.0`.

Using your script as starting point, I changed all stuff that looked strange to me or/and which Qemu complained about. Ok... and there are still some Qemu warnings, but that can be ironed away later...

With the following starter script I get Raspbian/jessie booted...
[code]
This is not the "configure mode star

[2017-04-23 06:24] t-sharabi commented on #31
hello @drkurrey
which config do you want, the normal one or the one that can give you log file on screen?

[2017-04-23 08:09] t-sharabi commented on #31
Dear @dhruvvyas90
I would like to thank you, its working perfect

[2017-04-23 08:10] t-sharabi commented on #31
Hello @drkurrey
i think you need this

qemu-system-arm -kernel ./qemu-rpi-kernel/kernel-qemu-4.4.26-jessie -cpu arm1176 -m 256 -M versatilepb -no-reboot -serial stdio -append "root=/dev/sda2 panic=100 rootfstype=ext4 rw console=ttyAMA0,115200" -hda /home/talal/2017-01-11-raspbian-jessie.img

[2017-04-23 15:47] drkurrey commented on #32
@drawkula, the configuration provided by you is not working in my pc.

[2017-04-23 15:57] drkurrey commented on #31
@t-sharabi, I have tried the above config but still it returns the same error as mentioned in /issues/32

#!/bin/bash
#Starts raspberry pi image in configuration mode
qemu-system-arm -kernel ./qemuRpiKernel/kernelQemu31025wheezy /-cpu arm1176 /-m 256 /-M versatilepb /-no-reboot /-serial stdio /-append "root=/dev/sda2 panic=100 rootfstype=ext4 rw console=ttyAMA0,115200" -hda /home/learner/Documents

[2017-04-24 05:55] t-sharabi commented on #31
@drkurrey
I have noticed two thing, first of all there is a forward slash after (kernelQemu31025wheezy) and second I have noticed that your are using the wheezy kernal for jessie image which will not work based on my tests, the following link is a useful one

https://github.com/dhruvvyas90/qemu-rpi-kernel

[2017-04-25 02:49] drkurrey commented on #31
@t-sharabi the second response was for kernel 4.x.x.

[2017-05-02 22:02] spike11302000 opened #34 "qemu locks up"
qemu seem to lock up mid way thought boot up when trying to boot 2017-04-10-raspbian-jessie

[2017-05-16 23:07] electronoob commented on #32
using a kernel from this repo along with latest jessie lite image of raspbian, qemu booted into linux fine. (okay, windows as host but im sure that doesnt make any difference here).

![screen shot](https://i.imgur.com/RRvULJQ.png)

    qemu-system-arm.exe -M versatilepb -cpu arm1176 -hda 2017-04-10-raspbian-jessie-lite.img -kernel kernel-qemu-4.4.34-jessie -m 192 -append "root=/dev/sda2"

[2017-05-29 10:35] joerick commented on #34
What was your QEMU command and what did the logs say before it locked up?

[2017-05-30 08:28] nunof commented on #34
I'm not the original reporter but it also happens to me.

Using the following command:
# qemu-system-arm -kernel kernel-qemu-4.4.34-jessie -cpu arm1176 -m 256 -M versatilepb -no-reboot -serial stdio -append "root=/dev/sda2 panic=1" -drive file=kernel-qemu-4.4.34-jessie,index=0,media=disk,format=raw -net nic -net tap,ifname=tap0,script=no,downscript=no

See attached.

![rpi-qemu-crash](https://clou

[2017-05-30 08:47] nunof commented on #34
deleted my previous comment. Sorry for the noise. Instructions in https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Emulating-Jessie-image-with-4.x.xx-kernel work fine for me.

[2017-06-27 06:08] aatishnn commented on #28
@ICHx were you able to use the raspi2 machine type?

[2017-06-29 17:05] MagicValy commented on #31
Dear All,

I took the time to read all threads on this topic, follow advise and I am still getting an issue:
When starting QEMU with raspbian version 2017-06-21-raspbian.img, I am getting this message:

"_Uncompressing Linux... done, booting the kernel_"
and it reboots for a while !

Do I need  a kernel-qemu-4.4.34-jessie to be rebuilded with the lastest Raspbian version ?
Some help or feedback ar

[2017-06-30 07:09] MagicValy commented on #31
Hello All,

I took an old version of Raspbian (year 2016 nov 25) and it is working as expected. Please discard my issue.

[2017-07-06 11:20] tomkcook opened #35 "Raspberry Pi Serial Console"
Is it possible to get the Raspberry Pi serial console redirected to stdio?

I've tried adding `-serial stdio` to the qemu command line and `console=ttyS0` and `console=ttyAMA0` to the kernel command line but with no success - no error message or anything, just no output on stdio.

[2017-07-06 16:14] tomkcook opened #36 "Networking"
If I follow this instructions on the wiki, I get working NAT-based networking.

As soon as I try to introduce a bridged network, I can't get anything to work.  I'm adding eg:

[code]

This boots but there is no network device.  I've tried `virtio-net-pci` with the same result.  `virtio-net-device` and `usb-net` both give error messages about their respective busses not being present.

How can we e

[2017-07-24 13:37] guysoft commented on #30
Hey, The current kernel is 4.9.35, is there a way to build it now?
Can you give me some general instructions how to build it myself?
(Also, should this be reopened?)

[2017-07-24 13:50] guysoft opened #37 "Error when trying to run a raspberry pi kernel on a versatilepb QEMU machine"
Hey,
A little new to this, so I might be doing something newbishly wrong:

When I run this:
[code]

I get this:
[code]

It actually says "eg trying to run a raspberry pi kernel on a versatilepb QEMU machine", what machine should I use?

(Command taken from: https://gist.github.com/hfreire/5846b7aa4ac9209699ba )

[2017-07-25 20:33] dhruvvyas90 commented on #37
Hi, both kernels are different. In a nutshell, you can't use Rpi kernel from boot partition and use it on qemu out of the box.

[2017-07-25 20:35] dhruvvyas90 commented on #36
Hi, This seems more like a qemu configuration issue rather than kernel issue. Can you try emulate any other kernel (say ubuntu kernel for x86 ) with ubuntu image and see if you get bridging part working. If yes, that we can dig deeper.

[2017-07-25 20:49] guysoft commented on #37
I didn't, I used the ones from this repo

[2017-07-26 09:20] tomkcook commented on #36
I've followed this up a bit on the qemu mailing list; the problem seems to be that the kernel has no modules built for it and no suitable drivers built in.  The default network device is a smc91c111 and the kernel has a driver for it, but this can't be added through commandline parameters as it's not a part that can be discovered on a bus.

So, ideally, your `build-kernel-qemu` script would build

[2017-08-10 20:29] Ark74 opened #38 "MagTek USB Card Scanner Driver"
Hi!
I'm looking to get working RPI2 posbox with MagTek.

[code]

It won't work.
Any advice of how to trouble shoot?

[2017-08-13 14:12] sej7278 commented on #30
i'd be interested in this too, at the moment there's no way to use qemu on a recent raspbian jessie image (other than systemd-nspawn which doesn't even use the rpi kernel).

[2017-08-16 11:36] EvaChenn opened #39 "can I compile a qemu-rpi-kernel for cortex-a7?"
Thanks for uploading these qemu-rpi-kernels, I had successfully run a 2017-07-05-raspbian-jessie-lite.img  with kernel-qemu-4.4.34-jessie on versatilepb using qemu-system-arm.

` qemu-system-arm -cpu arm1176 -m 256 -M versatilepb -serial stdio -append "console=ttyAMA0,115200 root=/dev/sda2 panic=1 rootfstype=ext4 rw" -kernel kernel-qemu-4.4.34-jessie -hda 2017-07-05-raspbian-jessie-lite.img`

the

[2017-08-20 08:27] nachoparker commented on #35
you can use `vga=normal console=ttyAMA0`. Look at this code

https://github.com/nachoparker/qemu-raspbian-network/blob/master/qemu-pi.sh#L135

You can just launch the whole thing with this script, with networking and serial console

https://github.com/nachoparker/qemu-raspbian-network

[2017-08-20 08:28] nachoparker commented on #36
I provide a script that sets up networking for you. See

https://ownyourbits.com/2017/02/06/raspbian-on-qemu-with-network-access/

[2017-08-20 08:39] nachoparker opened #40 "Newer stable kernel 4.9"
Hi

Latest Raspbian Stretch came out, featuring kernel 4.9.41

Any plans to share that kernel build? ( I see in #30 that you were waiting for the official Raspbian release )

Many thanks for your work

[2017-08-26 02:53] sunqingyao commented on #40
Yeah that would be every helpful! `xecdesign.com` is down and unfortunately not all its pages have been archived, so some required files are missing. (For example, I cannot do `wget http://xecdesign.com/downloads/linux-qemu/linux-arm.patch`)

@dhruvvyas90 , since you have built several kernel images for us, I suppose you have all the required components at hand. It won't be too hard for you to bui

[2017-08-28 18:10] nachoparker commented on #40
apparently there's a `-M raspi2` option now so you don't need an external kernel. Still haven't tried it though

[2017-09-07 20:08] OutsourcedGuru commented on #32
For what it's worth, I'm running on Ubuntu 16.04LTS, attempted to follow the instructions and I appear to be in the same boat.

[code]
Supported machines are:
akita                Sharp SL-C1000 (Akita) PDA (PXA270)
borzoi               Sharp SL-C3100 (Borzoi) PDA (PXA270)
canon-a1100          Canon PowerShot A1100 IS
cheetah              Palm Tungsten|E aka. Cheetah PDA (OMAP310)
collie

[2017-09-07 20:39] drawkula commented on #32
[code]
Maybe you meant `-hda raspbian-stretch.img`?

[2017-09-07 20:45] OutsourcedGuru commented on #32
Actually, I typed that correctly in the command line.  I just re-typed it for here.

I'm now walking through the tutorial [here](https://www.raspberrypi.org/forums/viewtopic.php?t=175454) which suggests pre-mounting the image to adjust its `/etc/ld.so.preload` file, commenting out the only line in it.  That one still produced the same error.  I'm now downloading the exact day's version of Jessie t

[2017-09-07 22:23] OutsourcedGuru commented on #32
Unfortunately, downloading and repeating that experiment with the proper version of raspian-jessie.img resulted in the same error as before. I've tried adding "format=raw" to the -append string and also adding "-machine virt" to the very end of the command. Still getting "unsupported machine type", I'm afraid.

It sounds like your Windows-based QEMU install comes with things this doesn't include.

[2017-09-15 19:53] stephanfriedrich commented on #40
## ISSUE

Hi i got an error on raspberry-pi boot via qemu, something like ```kernel panic - not syncing: vfs: unable to mount root fs...```

my specs are:
- latest raspberrypi image with kernel version 4.9 (2017-09-07-raspbian-stretch-lite.img)
- quemu-rpi-kernel (kernel-qemu-4.4.34-jessie)

my command are:
[code]

## FIX

**but now it boots raspberian without errors**
to fix the kernel issue, i f

[2017-09-21 23:03] dewhisna opened #42 "linux-arm.patch mismatched with build-kernel-qemu"
Trying to run `build-kernel-qemu`  to manually build the kernel from the source fails with the following:

[code]
It appears that the `linux-arm.patch` file is out-of-sync with the `build-kernel-qemu` .  Is there a newer patch file that didn't get committed with the build script?  It would seem that since the script explicitly states which commit to checkout then the patch file it would be using s

[2017-09-22 17:04] dewhisna commented on #42
Ah, I see what it is.  I had missed the fact that `build-kernel-qemu` by default sets `COMMIT` to an empty string rather than to a commit that this project is compatible with.  I suggest changing:

[code]

On line 10 to:

[code]

Or perhaps a later branch that's compatible so that your script continues to work out-of-the-box for people who just check it out and try to do a kernel build without edi

[2017-10-04 04:13] MaitreDede opened #43 "Raspbian Stretch : illegal instruction"
Hi,
I am trying to build a cross-compilation environment for raspberry pi with travis.
My work is based on [Odoo's scripts](https://github.com/odoo/odoo/blob/10.0/addons/point_of_sale/tools/posbox/posbox_create_image.sh) that uses your kernels (from [here](https://github.com/odoo/odoo/blob/10.0/addons/point_of_sale/tools/posbox/posbox_download_images.sh)).
When using Raspbian Jessie, it works just

[2017-10-04 04:36] MaitreDede commented on #43
For info, on travis :
[code]

[2017-10-12 09:09] sacarde commented on #40
but.. in this situation... can you run:

- lsusb
- modprobe <somemodule>

without errors?

[2017-10-12 20:44] hillyup commented on #37
Hey, I also have this exact same issue. Downloaded the 3 latest jessie kernels from your repo and all have the same issue.

The command i run:
qemu-system-arm -kernel kernel-qemu-4.4.26-jessie -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw" -hda work.img -cpu arm1176 -m 256 -M versatilepb -no-reboot -serial stdio

work.img is my own jessie/stretch image that works just fine outside of QEMU.

I

[2017-10-31 09:36] M0Rf30 commented on #40
tale a look here https://github.com/M0Rf30/simonpi

[2017-10-31 10:32] nachoparker commented on #40
@MoRf30 kernel 4.9! thanks I'll try it for NCP

Is it very different from Raspbian kernels? weird options and stuff?

[2017-10-31 11:34] M0Rf30 commented on #40
@nachoparker you will find the config files for every kernel.
 scripts are very simple. Fork me and give me suggestions, dmesgs and logs. I will try to update

[2017-10-31 12:24] nachoparker commented on #40
my question is: did you base your config or change it fundamentally from the Raspbian kernel config?

I'm trying to save the time to recompile the kernels myself because my hands are pretty full with the rest of [NCP](https://ownyourbits.com/2017/02/13/nextcloud-ready-raspberry-pi-image/).

I use it for development, I also came ip with my qemu-system-arm [wrappers for this](https://ownyourbits.com

[2017-11-11 20:25] sharmaaddy opened #44 "Unable to access GUI"
Thank you very much for your efforts . I have a small issue while installing the QEMU PI , actually it gets launched be the following command and I get the welcome screen and all :

qemu-system-arm -kernel ~/qemu_vms/qemu-rpi-kernel/kernel-qemu-4.4.21-jessie -cpu arm1176 -m 256 -M versatilepb -serial stdio -append "root=/dev/sda2 rootfstype=ext4 rw" -hda ~/qemu_vms/2017-04-10-raspbian-jessie.img -

[2017-11-14 11:44] EvaChenn opened #45 "got kernel panic with using "-dtb versatile-pb.dtb""
The reason I use -dtb is that I want to add a self-defined platform device to the device tree.
But I found that I can't make dtb from build-kernel-qemu script (I have already add "make dtb" into build-kernel-qemu).

Also I have tried to use the original linux source code to create versatile-pb.dtb and added to the qemu command with "-dtb versatile-pb.dtb".
But I got "kernel panic... Unable to moun

[2017-11-19 05:06] ICHx commented on #28
Nope, and have not tried recently

[2017-11-19 09:37] slavkoja opened #46 "4.9.35 kernel"
Please, add 4.9.35 kernel.

I am running the latest available:
[code]
But i am not able to load modules (ipv6 as example):
[code]
Quick inspection tells:
[code]
thanks

[2017-12-02 22:29] EdgarOliveira commented on #20
Hello,

I have a problem when I tried do the task on this video:
https://www.youtube.com/watch?v=Ny-7pRx_yHk
Any idea how can I solve this issue?

Please read the describition video to know more about the problem.

Thanks

2016-10-03 0:25 GMT+01:00 Edgar Oliveira Dev <edgaroliveira.dev@gmail.com>:

[2017-12-08 05:46] mengzhuo opened #47 "How to emulate pi64 with qemu?"

[2017-12-11 15:06] M0Rf30 commented on #40
@nachoparker  config for rpi is similar to this repo config, I've added multiport as you requested and there's no esoteric setting
Same for rpi2 and rpi3.
Let me know if you are in troubles

[2017-12-12 09:19] EdgarOliveira commented on #20
Hello,

Do you received this email?
Thanks

2017-12-02 22:28 GMT+00:00 Edgar Oliveira Dev <edgaroliveira.dev@gmail.com>:

[2017-12-12 09:32] cirosantilli commented on #20
@EdgarOliveira I saw, but I don't know enough about this / don't have time, sorry.

However, I will recommend this: focus instead on ` -M raspi2` as mentioned at: https://raspberrypi.stackexchange.com/questions/165/emulation-on-a-linux-pc/53991#53991 which "dispenses" this custom kernel (but GUI not working yet).

[2017-12-30 07:55] dhruvvyas90 commented on #42
Hello, I see the behavior. Patch fails with 4.9. Did you find a work around to make it work with kernel 4.9 ? Thanks.

[2017-12-30 07:56] dhruvvyas90 commented on #27
I am closing this issue as I'll try to fix this issue with newer kernel if possible.

[2017-12-30 07:56] #27 closed

[2017-12-30 07:57] dhruvvyas90 commented on #31
Discarding issue upon request.

[2017-12-30 07:57] #31 closed

[2017-12-30 07:59] dhruvvyas90 commented on #32
It should work alright given all the instructions on wiki are followed.

[2017-12-30 07:59] #32 closed

[2017-12-30 07:59] dhruvvyas90 commented on #34
Sounds good. Closing the issue.

[2017-12-30 07:59] #34 closed

[2017-12-30 08:00] dhruvvyas90 commented on #35
@tomkcook: This issue should be solved once you add `console=ttyAMA0` in qemu arguments.

[2017-12-30 08:00] #35 closed

[2017-12-30 08:01] dhruvvyas90 commented on #36
Assuming, the solution provided by @nachoparker  solved your issue.

[2017-12-30 08:01] #36 closed

[2017-12-30 08:03] dhruvvyas90 commented on #37
Make sure you configure your image file before running it on qemu. More details can be found on wiki.

[2017-12-30 08:03] #37 closed

[2017-12-30 08:04] dhruvvyas90 commented on #38
Unfortunately, I'm not sure how to use attached usb device on qemu. You can find more info on qemu documentation.

[2017-12-30 08:04] #38 closed

[2017-12-30 08:04] dhruvvyas90 commented on #39
I believe that qemu supports native kernel with Machine flag rpi2. You can try that once.

[2017-12-30 08:04] #39 closed

[2017-12-30 12:15] guysoft commented on #37
Right.  Will test it and see. I'll try and make scripts for CustomPiOS so any image you build there you can test on qemu.
Note you might want to upgrade the wiki to say "Stretch" now too :)

[2017-12-30 16:54] dewhisna commented on #42
No, instead of trying to emulate the entire RPi on qemu, I found a much better way.  Use qemu static.  See this wiki on Debian:
https://wiki.debian.org/RaspberryPi/qemu-user-static

Using qemu-static, you can emulate the ARM processor and actually run the vast majority of all native RPi code -- you can even do things like system updates and such to your chroot environment.  But the bigger benefit

[2017-12-31 13:34] guysoft commented on #37
Done, you can now use [qemu_boot.sh script for CustomPiOS](https://github.com/guysoft/CustomPiOS/blob/CustomPiOS/src/qemu_boot.sh)

[2017-12-31 13:49] guysoft commented on #43
You are not following the instructions on commenting out the so in ``/etc/ld.so.preload``

[2017-12-31 13:51] guysoft commented on #42
That is how [CustomPiOS](https://github.com/guysoft/CustomPiOS) works.
See https://github.com/guysoft/CustomPiOS/blob/CustomPiOS/src/custompios#L22

[2017-12-31 14:34] slavkoja commented on #42
E.g. it is not possible to (re)build some packages via qemu-static because some not implemented calls, then it is not full replacement/solution.

[2017-12-31 15:49] guysoft commented on #42
Actually packages build great. I mean things like testing in GUI or testing boot sequences.

[2017-12-31 21:30] dewhisna commented on #42
Right, there's still a need to do the full RPi emulation and such, and to build a proper kernel.  I wasn't suggesting replacing things entirely with qemu-static.  It's just that for my specific purpose of compiling some ActiveX components for the ARM that needed Wine and that weren't capable of compiling on native RPi hardware due to their intensive Boost template usage that caused it to need 4GB+

[2017-12-31 23:38] guysoft commented on #42
I'm building two raspberrypi real-time kernels,  that takes ~12 hours :-/

On Dec 31, 2017 23:30, "Donna Whisnant" <notifications@github.com> wrote:

[2018-01-05 22:16] muawijhe opened #48 "Do you plan to release a kernel for the new debian stretch ?"
I tried to modify the script to accomodate the new kernel, however I didn't find the solution.

Raspbian version I am using:

wget http://director.downloads.raspberrypi.org/raspbian_lite/images/raspbian_lite-2017-12-01/2017-11-29-raspbian-stretch-lite.zip

Commit of the raspbian linux kernel (accordingly to a forum post is the one released with the stable raspbian):

raspberrypi-kernel_1.20170811-

[2018-01-21 11:32] guysoft commented on #48
Raspbian stretch boots fine for me.
You can run this to try:

[code]

The qemu_boot.sh script will extract and modify the image inside the zip for you and run it.

[2018-01-21 16:43] guysoft commented on #44
Hey,
So I tested it here and it works ``kernel-qemu-4.4.34-jessie`` and latest stretch:

[code]
![screenshot_20180121_184151](https://user-images.githubusercontent.com/325670/35196456-e9a20254-feda-11e7-9b60-b0fb02ef67e9.png)

[2018-01-26 23:41] guysoft commented on #36
I can't get @nachoparker 's solution to work. No internet access no matter what I tried so far.

[2018-02-05 10:59] nachoparker commented on #36
it works on arch and ubuntu for me

[2018-02-05 11:12] tomkcook commented on #36
See attached a .config a Raspberry Pi Linux kernel - this one is for commit 38f2800e6e94019a00a2880bfed8fba37aea2e5d from the RPi Linux git repository.  If you build this & install the modules it creates into your image, then you can add '-net' network interfaces on the commandline and the kernel will load the appropriate driver for them.

Personally, I create a tap interface that I then bridge to

[2018-02-05 11:47] guysoft commented on #36
@tomkcook But then you are not using the kernel from this repository, am I right?

[2018-02-10 00:29] ve2tmq commented on #28
Hi folks, I try to build kernel as versatilepb or user kernel.img directly from image (with -M raspi2) both give a black screen.  With kernel-qemu-4.4.34 it's works good.  I need new kernel to fit with modules on image.  I don't know what's wrong.  Do you see same issue on your test?

[2018-02-14 17:44] dhruvvyas90 commented on #48
Hi, @muawijhe , I tried to recompile raspberrypi-kernel_1.20170811-1 with given patch. I throws me some errors. I was wondering if you could share your compiled kernel (may be create a PR) if it works with latest raspbian stretch.

[2018-02-15 15:08] guysoft opened #49 "How to debug Illegal instruction errors beyond etc/ld.so.preload?"
Hey,
So this is half a question really. Half trying to figure if I missed something?

I am from the Zynthian project, and I am trying to build an emulation solution for the image distro there.

The distro boots fine with my [qemu_boot.sh](https://github.com/guysoft/CustomPiOS/blob/CustomPiOS/src/qemu_boot.sh) script. But when I try and run a python script that imports tornado, I get an instruction

[2018-02-20 13:10] juokelis commented on #40
Try updated kernel. Works with latest stretch image. Although some not nice messages in dmesg, ipv6 not working and similar. Need more tests. Will do that in some time, but you can pick up from here while I'll be away with other project :) https://github.com/juokelis/qemu-rpi-kernel

[2018-02-20 13:12] juokelis commented on #45
You need to add CONFIG_PCI_VERSATILE=y before compiling kernel to work with dtb.

[2018-02-20 13:12] juokelis commented on #48
Try updated kernel. Works with latest stretch image. Although some not nice messages in dmesg, ipv6 not working and similar. Need more tests. Will do that in some time, but you can pick up from here while I'll be away with other project :) https://github.com/juokelis/qemu-rpi-kernel

[2018-02-20 18:08] M0Rf30 commented on #40
Updated my projects with kernel 4.9.80. Let me know

[2018-02-20 21:07] guysoft commented on #48
@juokelis Does not work for me, on latest raspbian image I ge:
[code]

[2018-02-20 22:01] guysoft commented on #49
Found issue, programs compiled for armv7

[2018-02-20 22:01] #49 closed

[2018-02-20 22:03] guysoft opened #50 "Kernel to run armv7 compiled programs"
Hey,
I have a raspberrypi Image with lots of armv7 programs, but the kernel here is armv6.
Is there a way to run armv7 programs/ build a kernel for armv7?

Thanks,

[2018-02-20 22:08] guysoft commented on #48
@juokelis I wonder - Is there a chance you can build an armv7 kernel?
I am working on Zynthian and there is armv7 stuff there which wont run with this kernel, I get Illegal instruction errors.

Also here is a photo that it works
![screenshot_20180221_000731](https://user-images.githubusercontent.com/325670/36451906-45559b88-169b-11e8-96bd-335bf0d066c1.png)

[2018-02-21 16:45] M0Rf30 commented on #40
I've updated my projects with your latest patch, I've made an essential modification. You have to use some udev rules in order to properly mount the disk image at boot. See for other details in simonpi code at this commit https://github.com/M0Rf30/simonpi/commit/b691142d380ad377480c7c2722f35675056195ce

[2018-02-22 07:24] juokelis commented on #48
Check this out - https://github.com/M0Rf30/simonpi - it has working armv71 build for rpi2.

[2018-02-22 07:25] juokelis commented on #40
Great! Thanks, cound't get rpi3 to work (windows QEMU build is too old), but looks like rpi2 build is working. Will try to get a matching image. Thanks again.

[2018-02-22 11:22] M0Rf30 commented on #40
Take a look to simonpi docker image:
https://github.com/M0Rf30/simonpi/blob/master/docker/README.md

[2018-02-22 12:15] juokelis commented on #40
It would be a bit of overhead to run on Windows Virtualbox, Debian on it with Docker on it and Qemu there :) I'll stick with Qemu on windows for now :) Will manage to get image somehow, from same docker scripts most likely :)

Thanks again!

[2018-02-22 13:27] guysoft commented on #48
@juokelis That is really cool, but I can't see how to get it to work on a Debian-based distro, since CustomPiOS is mostly Debian.

[2018-02-22 13:42] juokelis commented on #48
OK, sorry I'm all into raspbian / osmc :) It's also debian based, shouldn't be too different. Anyway looks like I won't be any help to you :) Good luck.

[2018-02-22 14:00] guysoft commented on #48
@juokelis Yes you are, you built a newer kernel, and it would still work on armv6 stuff.
If you can point me in how to build armv7 then even better :)

[2018-04-03 16:45] dhruvvyas90 commented on #48
@juokelis: Do you mind creating a PR request to update the new kernel ? I just tested 4.9 kernel from your repo. Seems to be working good.

[2018-04-03 17:37] juokelis commented on #48
Sure, check it out. Ping me if done something wrong.

[2018-04-05 01:54] dhruvvyas90 commented on #48
@juokelis: Thanks, appreciate that. :)

[2018-04-05 01:54] #48 closed

[2018-04-05 01:54] dhruvvyas90 commented on #46
Added in latest PR.

[2018-04-05 01:54] #46 closed

[2018-04-05 01:55] dhruvvyas90 commented on #42
New patch has been added for 4.9.

[2018-04-05 01:55] #42 closed

[2018-04-05 01:55] dhruvvyas90 commented on #40
Added with the new PR.

[2018-04-05 01:55] #40 closed

[2018-04-05 01:56] dhruvvyas90 commented on #43
Give it a shot with new kernel.

[2018-04-05 01:56] dhruvvyas90 commented on #44
As per previous comment, it should work.

[2018-04-05 01:56] #44 closed

[2018-04-05 01:57] dhruvvyas90 commented on #50
In order to run it with armv7 kernel, you should try latest qemu with -M raspi2 option. Hope it helps.

[2018-04-05 01:57] #50 closed

[2018-04-05 09:15] guysoft commented on #50
Can you give an example and kernel?
Because a while ago when I did try the raspi2 option it was experimental and only parts of the system worked. I got as far as some of the boot.
You can see where it failed here:
https://github.com/guysoft/FullPageOS/issues/150#issuecomment-323569988

I also warmly suggest you close the issue after you know its solved, otherwise other people would keep opening it

[2018-04-06 02:31] dhruvvyas90 commented on #45
Give it a shot with newer kernel.

[2018-04-26 19:19] 1Sara1 opened #52 "Kernel Panic Unable to mount root fs on unknown-block(31,3)"
Using the latest qemu:
qemu-system-arm.exe -kernel C:\Users\a\Downloads\kernel-qemu-4.4.34-jessie -cpu arm1176 -m 256 -machine versatilepb -cdrom C:\Users\a\Downloads\picore-9.0.3.img

Gives error:
Kernel Panic Unable to mount root fs on unknown-block(31,3)
![qemu-panic-vfs-31-3](https://user-images.githubusercontent.com/38193884/39327086-3720239e-4954-11e8-8218-0940392b9103.JPG)

I have tried dif

[2018-05-07 04:15] dhruvvyas90 commented on #52
I can't comment on picore.img but if you try it with Raspbian image with modifications (read wiki), you should be able to make it work with latest kernel (4.9.xx).

[2018-05-15 06:17] CuriousTommy opened #53 "Enable VirtFS By Default"
VirtFS is a feature QEMU provides to allows the host to share a folder with the guest. However, the driver is not compiled on the prebuilt kernal by default. Since these kernals are meant to be used with qemu, I was wondering if you would be willing to add to the following config options to the `.config` part of script:

[code]
[*taken from qemu wiki](https://wiki.qemu.org/Documentation/9psetup)

[2018-05-17 21:38] dhruvvyas90 commented on #53
@CuriousTommy : If you have compiled kernels ready with this configs, feel free to send a PR.

[2018-05-18 00:17] CuriousTommy commented on #53
@dhruvvyas90 Just to be clear, do you want me to also include the prebuild kernel in the PR? If so, do you want me to replace the most recent one (`4.9.59`)?

[2018-05-22 20:38] dhruvvyas90 commented on #53
@CuriousTommy: Yes, prebuilt version of the kernel would be great. Adding a new kernel "with_VirtFS" suffix in name should do. Thanks a lot.

[2018-05-23 03:18] gump74 opened #54 "QEMU CIFS"
Greetings,
I would like to start by thanking you for your efforts. I was able to get my rpi img to work however, I was not able to get cifs to work due to the fact that it was not compiled into the kernel. I tried to manually add the CIFS to the kernel with the ncurses menu. In the ncurses menu I did load the config file. I don't know if that was right. After the ncurses menu I am prompted with hu

[2018-05-24 01:15] gump74 commented on #54
I had replied to the e-mail, ... you're not supposed to do that! CIFS lets you mount the smb shares, in my case it is my server. I have never successfully compiled a kernel before, actually before the other day I have never compiled a kernel before. I suppose it would help if I had even a vague understanding of what needed to be done.

[2018-05-24 01:17] gump74 commented on #54
You mentioned you were trying to get virtfs compiled, did you get that to work? Maybe I could figure out how to add cifs by following what you did.

[2018-05-24 04:10] CuriousTommy commented on #54
I was able to produce a working kernel. I am able to create and modify files between guest and host. I just need to add the new kernel to my fork and submit a pull request.

Just so I understand, what exactly do you mean by "The resulting kernel does not work"? Were you able to compile the kernel?

If you are wondering how I built the kernel, I followed the Kernel Building guide on [raspberrypi.or

[2018-05-24 08:14] me21 opened #55 "Latest Raspbian version uses kernel 4.14"
Can you please prepare the kernel for the latest Raspbian image?

[2018-05-25 02:03] gump74 commented on #54
It did compile a kernel but qemu failed to load the img with the kernel that I compiled. It did load the OS when I used the kernel from this repo. I will try to run through that article and see if I can make a working kernel.

[2018-05-25 13:26] gump74 commented on #54
That article does not address the primary problem that I seem to be facing. When the compile starts it asks if I should repatch, if I say no then it does not do anything. If I say yes to those questions then it goes into an ncurses menu. That menu can do a load, loading the config file. After that I am prompted by several hundred questions. Should I just choose the default? what should I be doing

[2018-05-29 16:05] #53 closed

[2018-06-02 22:01] Jeansen commented on #45
would this also work with versatile express?

[2018-06-10 16:36] Jeansen opened #57 "Enable v9fs (p9) for sharing files between host and guest."
I followed https://wiki.qemu.org/Documentation/9psetup to share files between a host and qemu running the remulated raspian. Unfortunately the 9p file system is unknown and there are no modules available at all for this kernel.

It would be great, if this feature were compiled into the kernel. Though I am a bit puzzled, because in the build script I see, that is is actually enabled.

Either way, p

[2018-06-11 14:20] CuriousTommy commented on #57
Yeah, I was the one who submitted a pull request to enable this feature. [I even added a premade kernal also](https://github.com/dhruvvyas90/qemu-rpi-kernel/blob/master/kernel-qemu-4.9.59-stretch_with_VirtFS)

[2018-06-11 19:33] Jeansen commented on #57
Oh, I see. I totally overlooked that one .... Thank you! :)

[2018-06-11 19:35] Jeansen commented on #57
@CuriousTommy Anyway, could you tell how you build it?

[2018-06-11 19:35] #57 closed

[2018-06-11 19:51] CuriousTommy commented on #57
I followed the [kernel building guide (Cross-compiling) on raspberrypi.org](https://www.raspberrypi.org/documentation/linux/kernel/building.md) to understand how to compile the raspberry pi kernel.

Then I tried to build the kernel using the build script. Make sure you comment out the [exit](https://github.com/dhruvvyas90/qemu-rpi-kernel/blob/master/tools/build-kernel-qemu#L45), or the script will

[2018-06-11 20:52] Jeansen commented on #57
@CuriousTommy Thank you for the hints. I'll try that :smiley:

[2018-06-22 20:49] dhruvvyas90 commented on #43
Closing the issue due to inactivity.

[2018-06-22 20:49] #43 closed

[2018-06-22 20:50] dhruvvyas90 commented on #45
@EvaChenn : Do new comments help you solve your issue ?

[2018-06-22 20:51] dhruvvyas90 commented on #52
Closing the issue due to inactivity.

[2018-06-22 20:51] #52 closed

[2018-06-30 16:58] nicolai86 commented on #55
Is there any documentation on how to build/ patch a kernel? Looks like the author is busy and it might be an opportunity to help.

[2018-07-01 08:15] Richardgriff commented on #55
Hi Have you manged to get the 4.14 to work

[2018-07-03 14:48] DFKSingleton opened #58 "Updating the jessie image with Linux in VirtualBox"
I had downloaded the jessie image on my windows system. I then wanted wanted to follow the instructions supplied to update the jessie image in my Linux system installed in VirtualBox on my Windows machine. I used the "shared directory" feature of VirtualBox to try to mount the image. This failed repeatedly. The solution was to copy the image-file from the shared directory to a directory within the

[2018-07-24 23:11] simspace-dr opened #59 "Is there a Kernel for Raspian Jessie and Jessie-Lite v4.9.35-v7 (raspbian-2017-07-05)"
I have 14 RasPis running Raspbian-2017-07-05 (Jessie-Lite v4.9.35-v7).

I'm new to QEMU and would like to setup an emulator on my Linux laptop for building an testing apps for Jessie and Jessie-Lite v4.9.35-v7 (raspbian-2017-07-05)?

Is that kernel available anywhere for QEMU?

Thanks,
Chris

[2018-08-28 21:03] dhruvvyas90 commented on #55
@nicolai86: Feel free to create a PR, if you've a working 4.14 kernel ready. If not, I will give a shot this weekend. Thanks.

[2018-08-28 21:03] dhruvvyas90 commented on #58
@DFKSingleton: If you can create a wiki note on the same topic, that'd be great.

[2018-08-28 21:03] #58 closed

[2018-08-28 21:06] dhruvvyas90 commented on #45
Closed due to inactivity.

[2018-08-28 21:06] #45 closed

[2018-09-05 07:17] elliotmoule commented on #59
I'm in a situation as @simspace-dr, though using Raspbian Stretch ARM32v7, and wondering if anyone can point me in the direction of a way to run that in the QEMU emulator? :)

Regards,

Elliot.

[2018-09-05 07:17] jlaine commented on #55
I was able to boot the latest Raspbian images using #60

[2018-09-16 15:09] dhruvvyas90 commented on #55
@jlaine: Merged your PR. Appreciate your help.

[2018-09-16 15:09] #55 closed

[2018-09-16 19:16] jlaine commented on #55
Cool! Going forward it might be worth clarifying which files apply to which kernel.

[2018-10-12 07:03] vfdev-5 commented on #59
Maybe [this](https://github.com/vfdev-5/qemu-rpi2-vexpress) can help :)

[2018-10-21 03:12] starbasessd opened #61 "Need new version for Raspbian Stretch, 4.14.71-v7+"
Kernel is in Raspbian dated 2018-10-09

[2019-01-29 10:26] ebo opened #66 "minor update to README requested"
In the README below at the end you mention: "Go through wiki page for step by step guide..."  Can you provide a link to the wiki page?  I am not sure where it is as I ahve just found qemu-rpi-kernel.  Thanks!

[2019-01-29 20:49] dhruvvyas90 commented on #66
@ebo : Added link.

[2019-01-29 20:49] #66 closed

[2019-01-29 20:50] dhruvvyas90 commented on #61
@starbasessd : New kernel has been added with latest PR.

[2019-01-29 20:50] #61 closed

[2019-01-29 20:51] dhruvvyas90 commented on #59
@simspace-dr : I'm not sure if Jessie-Lite kernels are different than Jessie but you can check out 4.9.35 kernel on the repo to see compatibility. Thanks.

[2019-01-29 20:51] #59 closed

[2019-01-29 22:04] ebo commented on #66
Thanks ;-)  I will probably have a dozen or more questions over the next week  8-/

[2019-02-07 04:32] diracsbracket opened #70 "Unable to copy device tree in memory. Couldn't open dtb file versatile-pb.dtb"
Hi,
Thank you for this repo!

However, on my Debian 9.5 machine with Qemu 3.1.0, the following does not work:
[code]
It fails with the following output:
[code]
If I leave out the -dtb parameter, then the output changes to:
[code]
But nothing happens there either.
What am I missing here?
Thanks again!

[2019-02-08 23:45] dbelliss opened #71 "drive with bus=0, unit=0 (index=0) exists (Double Quotes vs Single Quotes)"
I was trying to follow this guide to run rasbian on QEMU on windows 10x64, and I created a start.bat to run in command prompt with a command based on the contents of the README.

The line
`-append 'root=/dev/sda2 panic=1' \`

Was causing this error:
`qemu-system-arm: -append 'root=/dev/sda2: drive with bus=0, unit=0 (index=0) exists\`

I was able to fix this by replacing the single quotes with dou

[2019-02-11 15:39] dhruvvyas90 commented on #71
@dbelliss : Could be platform specific.

[2019-02-12 14:23] fangxlmr commented on #70
I also encountered the same issue when add `-dtb versatile-pb.dtb` option.

[2019-02-18 15:10] mbprado opened #72 "Error creating machine in libvirt"
running directly from qemu, it runs ok. however, it is impossible to make it run with libvirt.

virt-install   --name pi   --arch armv7l   --machine versatilepb   --cpu arm1176   --vcpus 1   --memory 256   --import   --disk 2018-11-13-raspbian-stretch-full.img,format=raw,bus=virtio  --network user,model=virtio  --video vga --graphics spice --rng device=/dev/urandom,model=virtio --boot 'dtb=qemu-rp

[2019-02-24 07:12] nemiah opened #73 "More CPUs and RAM"
Hello,
thank you for this project, everything works.

Is it possible to add more RAM and more CPUs to the virtual machine?

I tried starting qemu-system-arm with -m 1G and -smp 4 but it tells me that
versatilepb: memory size must not exceed 256MB
and
invalid SMP CPUs 4. The max CPUs supported by machine 'versatilepb' is 1

Best wishes
Nena

[2019-02-27 22:08] dhruvvyas90 commented on #73
Qemu now supports out of the box raspi2 machine emulation that should have multiple CPU options with increased memory. Check it out.

[2019-02-27 22:09] #71 closed

[2019-02-28 13:20] nemiah commented on #73
Thank you for this information, I'll take a look!

[2019-02-28 13:20] #73 closed

[2019-03-27 03:15] pragun opened #74 "Kernel Panics with qemu 2.50"
I get a Kernel panic at init, running this with qemu-2.50 and 2018-11-13-raspbian-stretch-lite.img

[code]
`

[2019-03-27 03:33] pragun commented on #74
Was able to boot by following the recipie given [here](https://azeria-labs.com/emulate-raspberry-pi-with-qemu/):

[code]
Tried with both 2018-11-13-raspbian regular and 2018-11-13-raspbian-lite images, both work good

[2019-03-27 03:33] #74 closed

[2019-03-30 09:14] Bahir opened #75 "Bad register offset"
That's what I receive when running

bash-5.0$ sh -x run.sh
qemu-system-arm -M versatilepb -cpu arm1176 -m 256 -drive file=./2018-11-13-raspbian-stretch-lite.img,index=0,media=disk,format=raw -net nic -net user,hostfwd=tcp::5022-:22 -dtb ./versatile-pb.dtb -kernel ./kernel-qemu-4.14.79-stretch -append 'root=/dev/sda2 panic=1' -no-reboot

vpb_sic_write: Bad register offset 0x2c

[2019-03-30 15:45] plumer opened #76 "Version mismatch by a suffix "+""
Hi Dhruv, thank you for this project! I always wanted a ARM emulator and I've been using this for quite a while since it's been really helpful.

An experiment I've doing though recently is to install a custom kernel module. Particularly I'm referring to [this article](https://matthewarcus.wordpress.com/2018/01/27/using-the-cycle-counter-registers-on-the-raspberry-pi-3/). I know that the kernel mat

[2019-04-05 14:31] mhutchins opened #77 "Only 3.10.25 is suitable for booting with NFSROOT"

[2019-04-13 20:26] chpatton013 commented on #75
I fixed this by adding `-serial stdio` to my command.

[2019-04-22 16:48] dhruvvyas90 commented on #75
@Bahir : Does the latest comment solve your problem ?

[2019-04-22 20:54] radeksimko commented on #75
I'm getting the same error, running the following:

[code]

Adding `-serial stdio` doesn't make the error go away for me, it just append more output after this error (as expected by the nature of the flag?).

[2019-04-23 07:49] elpeter25 commented on #72
Same error here.
Did anyone manage to create a VM?

[2019-06-07 04:25] cjdg opened #78 "Can't run qemu"
Iwant to virtualize a sd card which is connected on mmcblk1

Home directory not accessible: Permission denied
pulseaudio: pa_context_connect() failed
pulseaudio: Reason: Connection refused
pulseaudio: Failed to initialize PA contextaudio: Could not init `pa' audio driver
Home directory not accessible: Permission denied
Uncompressing Linux... done, booting the kernel.
vpb_sic_write: Bad register of

[2019-06-18 19:54] muelli commented on #72
I am running Ubuntu 18.04 and have the same problem.

[2019-06-24 04:38] feicong opened #79 "build failed for kernel modules on qemu-rpi"
i want to do some dev on qemu-rpi with kernel modules support. but it seems the linux-headers could not be installed.

first the boot log:
[code]

the headers install log:
[code]

[2019-06-24 08:17] feicong commented on #76
i have the same problem.

[2019-07-05 21:22] inukaze opened #80 "Dunno ?"
Hi there i just want to know when be available a qemu kernel for lastest raspbian for raspberry pi 4 ?

[2019-07-08 11:21] AlucardNosferatu opened #82 "Are there any methods to use larger memory?"
-M versatilepb restrict the memory configuration to be no more than 256MB, are there any ways to use a larger memory? my virtual system runs sluggishly...

[2019-07-15 15:13] dhruvvyas90 commented on #82
@AlucardNosferatu : Currently, no. Since it is a limitation of versatilepb. Afaik, Qemu was on route to have native rpi2 support. Feel free to check it out. In that case, you don't need modified kernel.

[2019-07-15 15:13] #82 closed

[2019-07-15 15:16] AlucardNosferatu commented on #82
Ok, I will check it, Thank you very much!

[2019-07-22 20:37] AdityaGovardhan commented on #78
Three approaches:

1) Try this in -append flag:
"rw console=ttyAMA0 root=/dev/sda2 rootfstype=ext4  loglevel=8 rootwait fsck.repair=yes memtest=1"

2) You can try using /dev/mmcblk0p2 instead of /dev/sda2 for root=

3) Have you edited /etc/udev/rules.d/90-qemu.rules as mentioned in https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki?

[2019-07-22 21:08] AdityaGovardhan opened #83 "Trying to run kernel-qemu-4.19.50-buster on virt"
versatilepb works smoothly for me but the small amount of memory limits my usecase which requires atleast 1GB. QEMU has virt machine which has large amount of flexibility and support. I tried to use that quickly with the following command:

qemu-system-arm -M virt -m 2048 -kernel kernel-qemu-4.19.50-buster -dtb bcm2710-rpi-3-b.dtb -append "rw console=ttyAMA0 loglevel=8 root=/dev/mmcblk0p2 fsck.rep

[2019-08-01 00:50] AlucardNosferatu opened #84 "Will this kernel affect the uname -r or cat /proc/version ？"
I am not very familiar with QEMU, for me, I want to customize a Raspbian image before getting my RPI4, this is about compiling and installing a CH341 USB driver.
I tried to compile the module with the version corresponding to $(uname -r), I get "4.14.7".
However, when I try to install building dependecies including linux-headers, the version of headers installed from APT is "4.9.35", which result

[2019-08-01 01:20] AlucardNosferatu commented on #79
You have the same problem with me, I guess this kernel will change the version of $(uname -r).

[2019-08-20 00:23] iluxave commented on #75
I see same error with and without -serial stdio flag on Qemu 4.0.0 and Qemu 2.12.1

[2019-09-06 19:53] minusplusminus commented on #75
to block any `ctrl+c` action and opening the window,` -display none -serial mon:stdio` worked best for me

[2019-09-06 21:59] mauron85 commented on #79
I believe when you use this kernel with for example raspbian, modules from rrpi-updateaspbian will not match version of this kernel. You can try to match kernel version with `rpi-update commit-hash`. But modules will probably not compatible. Only solution that might work is to compile kernel modules for exact `qemu-rpi-kernel` and copy then to `/lib/modules` of your image.

[2019-10-21 03:19] 609127400 opened #85 "Why I Can't modify the value of flag '-m' to 512M or 1G"
I wanna to use a bigger mem for qemu to bootload kernel-qemu-4.14.79-stretch, and modify -m to 1G，but then it can't boot up，why?

[2019-10-23 02:16] Beercow commented on #85
It’s a limitation of versatilepb. It can only emulate 256 memory.

[2019-11-08 15:28] subatomicglue opened #86 "No Loopback devices /dev/loop0"
Hi, I noticed that I cannot mount image files using the `losetup` or `mount -o loop ...` syntax

It seems that there is no loop devices in the QEMU raspberry pi kernel.
(...And perhaps the kernel is mismatched, see below)
Ideas?

[code]

Cant mount loopback image:
[code]

No Loopback devices:
[code]

loop modplugin doesn't exist:
(**red herring** I think, because stock raspberry pi doesn't seem to

[2019-11-08 18:32] subatomicglue commented on #86
Found how to install the missing kernel directory above:
[code]

Didn't make a difference:
[code]

[2019-11-08 18:44] subatomicglue commented on #86
Also interesting:

[code]

[2019-11-10 03:17] subatomicglue commented on #86
Works on a real raspberry pi 4b with buster lite:
[code]

[2019-11-20 05:44] victoryang00 commented on #75
for my case, I did it with:
[code]

[2019-11-25 22:35] core-process commented on #86
@subatomicglue Here is what I did:

Attention: instructions are for kernel 4.14.79+ and stretch, but you should be able to adjust them to the newest kernel and distribution.

1) Add `CONFIG_BLK_DEV_LOOP=y` to `<REPO>/tools/config_file`.

2) Create file `<REPO>/tools/build-kernel-qemu.conf` with content

[code]

3) Run

[code]

Confirm the menuconfig dialog and save the resulting config. It will co

[2019-11-26 00:15] core-process commented on #86
@subatomicglue See my PR https://github.com/dhruvvyas90/qemu-rpi-kernel/pull/89

[2019-11-26 14:34] subatomicglue commented on #86
Thank you, I can confirm that this works!

[code]

[2019-11-30 18:00] nvtkaszpir commented on #70
kernel and dtb parameters should be full paths

[2019-12-08 22:10] core-process commented on #86
@subatomicglue the PR is merged now. I think you can close this issue now ;-)

[2019-12-09 11:43] subatomicglue commented on #86
Thank you!!

[2019-12-09 11:43] #86 closed

[2019-12-10 17:26] #85 closed

[2019-12-10 17:27] dhruvvyas90 commented on #80
@inukaze: New buster kernel on the repo should be able to do it

[2019-12-10 17:27] #80 closed

[2019-12-18 02:34] BTCxZelko opened #92 "Armv8 image?"
Is it possible to emulate an Rpi4 with 4GB ram?

[2019-12-25 13:59] greatidea1 commented on #83
Hi Aditya,

I also tried Raspbian buster lite, but I can only boot upto the command line, nothing seen on the gui/display [Guest has not initialized the display (yet)]
I'm using below command:

qemu-system-arm -kernel /home/nick/Downloads/kernel-qemu-4.19.50-buster -cpu arm1176 -dtb /home/ni
ck/Downloads/versatile-pb.dtb -m 256 -M versatilepb -serial stdio -append "root=/dev/sda2 rootfstype=ext4 r

[2019-12-28 08:29] zengming00 opened #93 "Guest has not initialized the display (yet)."
I tried on win10 x64 but there is no graphic display
[code]
[code]

[2020-01-01 13:38] rogerjames99 commented on #76
I also have the same problem. I am fairly sure that it is a mismatch  between the vermagic in the module and the one built into the kernel image. The module I am using is gpio-mockup which is distributed with the raspbian kernel package. Modinfo works fine on it so it is matching at the kernel version level. Modprobe fails. Looking at dmesg you can see that it is failing in the vermagic checks bui

[2020-01-06 16:50] alst-ovh commented on #93
Use kernel-qemu-4.14.79-stretch to have a gui with the buster image.

[2020-01-09 18:11] dhruvvyas90 commented on #92
Not with the kernels available on this repo.

[2020-01-09 18:11] #92 closed

[2020-01-11 20:12] ooxi opened #96 "Illegal instruction"
While the emulated raspbian boots without issues, executing certain programs get killed with an _Illegal Instruction_ exception.

Using gdb layout asm to find out the last executed instruction shows [vldr](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489c/CIHGGHHA.html).

Has anybody else encountered this behaviour?

[2020-01-14 15:28] riban-bw commented on #93
Gosh! That wasted a lot of my day trying to get this to work before I found this issue report. Is this a temporary work-around until the issue is resolved in the buster kernel image?

[2020-01-14 15:32] alst-ovh commented on #93
Seems to be fixed, now it works with buster kernel ;-)

[2020-01-14 15:37] riban-bw opened #97 "Wiki does not explain why steps are necessary"
The wiki gives instructions on how to emulate RPi but some instructions do not match current Raspbian Buster image and there is no explanation for why the latter steps are required, e.g. passing -drive instead of -hda option. One might assume there is some efficiency improvement but this is not explained. The system seems to work without these modifications.

[2020-01-14 15:57] alst-ovh opened #98 "Update config_file_4.19.50"
Please update config_file_4.19.50 in tools to the actual working.
Thank You

[2020-01-14 16:27] riban-bw commented on #93
Not for me. I downloaded the Buster kernel today and get the same result, i.e. no output in qemu GUI window. Using the stretch image gives output as expected.

[2020-01-15 16:22] alst-ovh commented on #93
If you wait a long time output should come.
I think the problem ist that DRM in Kernel is or was enabled.
I need Fuse so i recompile the Kernel and Modules without DRM and with FUSE as Module and it works for me.
Copy the Modules do your qemu machine.
You can Test it https://github.com/alst-ovh/qemu-rpi-kernel

[2020-01-19 14:57] scottfurry commented on #75
Getting this error as well. Using `-serial stdio` does not appear to affect situation.
Found source code reference to [versatilepb.c](https://github.com/qemu/qemu/blob/f884294bd76eb89127d311627d8de1b70ec9ba54/hw/arm/versatilepb.c#L116) showing value `0x2c` not listed in switch statement. My guess is change in function signature or mis-ordering of arguments but I could be wrong.

[2020-01-28 12:02] guysoft opened #99 "aarch64/arm64 kernel"
Hey, I have a 64bit image based on: https://wiki.ubuntu.com/ARM/RaspberryPi

[2020-02-11 08:21] bolind opened #100 "Any chance of kernels that will work with Ubuntu 64 bit?"
Ubuntu [recently added support for 64bit Linux on Raspberry Pi 3 and 4](https://ubuntu.com/download/raspberry-pi). I'm guessing these kernels will not work with Ubuntu. Would it be very involved to also release kernels for this distro?

[2020-02-13 19:29] guysoft commented on #100
Duplicate of  #99 which I posted two weeks ago

[2020-02-14 15:52] Leadrive commented on #36
ref: https://blog.csdn.net/c80486/article/details/8460755

[2020-02-20 15:51] bmatthewshea commented on #93
Thank you for your hard work on these kernels.
But same problem.
I'm using headless Raspian (2020-02-13-raspbian-buster-lite.img) with buster kernel.
Boots fine, but outputs to CMD / PS window only (where you started it).

The emulation window is never used as primary text console.

![SHEA20-2020-02-20_090216](https://user-images.githubusercontent.com/984097/74952888-8b110580-53c6-11ea-98fe-5558b1

[2020-02-26 14:55] xieydd commented on #99
Can you provide aarch64/arm64 kernel @guysoft

[2020-02-26 15:43] guysoft commented on #99
@xieydd Raspbian ships with a aarch64 bit kernel:
https://www.raspberrypi.org/forums/viewtopic.php?t=250730

I am not sure how to go about building one, because that would require a 64bit toolchain and I am not sure how to set that up. I have a vague idea but I would need help from someone already building it. And I don't know how to build this repo.

[2020-02-26 16:15] dhruvvyas90 commented on #99
I believe that one should be able to use Qemu's aarch64 (qemu-system-aarch64) emulation to emulate 64 bit Raspberry pi with raspi2 machine option with shipped kernel and image without modification. I haven't tried it, though.

[2020-02-26 16:16] dhruvvyas90 commented on #100
I believe that one should be able to use Qemu's aarch64 (qemu-system-aarch64) emulation to emulate 64 bit Raspberry pi with raspi2 machine option with shipped kernel and image without modification. I haven't tried it, though.

Kernels on this repo are specifically tweaked so that it works with qemu's versatilepb machine since at that time (2015-16), qemu didn't allow Rpi2 machine emulation.

Hope

[2020-02-26 16:42] guysoft commented on #100
RaspberryPi 2 is not 64-bit. Only 3 and so on are

[2020-02-28 23:58] dhruvvyas90 commented on #100
Right. Qemu now allows emulation for rpi2 (qemu-system-arm) and rpi3 (qemu-system-aarch64).

[2020-02-29 08:56] guysoft commented on #100
Can you give me an example execution? Been fiddling with it and I am not
sure what args to pass for cpu, kernel, machine and dtb and so on.

[2020-03-23 01:41] sfantree commented on #100
64bit os  can refer this link
https://github.com/wimvanderbauwhede/limited-systems/wiki/Debian-%22buster%22-for-Raspberry-Pi-3-on-QEMU

[2020-03-26 22:49] ProfDavidMora commented on #93
I second the thanks for the work done on making this kernels publicly available and for how good they work on most scenarios I've used them.

I've been trying to configure a Buster-based VM with QEMU for a couple days. I have fully working Jessie-based and Stretch-based machines with full GUI and text support (though I always turn off the desktop and use mostly SSH/SCP to work on them). Using the

[2020-04-02 12:23] guysoft commented on #100
@sfantree Thanks, that might be what I need. But it want you to fiddle with the fstab. Would need to script that, since my lib uses this at the moment:
 https://github.com/guysoft/CustomPiOS/blob/devel/src/qemu_boot.sh

[2020-04-02 13:20] sfantree commented on #100
@guysoft
For newly release zipfile of Rapbian distribution ，/etc/fstab use PARTUUID instead of special /dev/sdx. it still work without modification， like #97 said

[2020-04-06 13:02] guysoft commented on #100
Hey, took a look at it and it seems to boot, and then gets stuck.

Script I am using:
https://github.com/guysoft/CustomPiOS/blob/devel/src/qemu_boot64.sh

Here is a screenshot of what I get:
![Screenshot_20200406_155228](https://user-images.githubusercontent.com/325670/78560963-9a85ca00-781f-11ea-9a55-b183e0163fe4.png)

console log:

[code]

[2020-04-06 13:11] guysoft commented on #100
Ok, update - I removed the sda1 mount and it works
![Screenshot_20200406_161012](https://user-images.githubusercontent.com/325670/78561882-1cc2be00-7821-11ea-8f78-0abd1783c78b.png)

One more thing though, the kernel crashes with lots of errors on the way, but it recovers:

[code]
That might need fixing.
Anywyay this script lets you open an image and boot from it:
https://github.com/guysoft/CustomP

[2020-04-06 13:20] guysoft commented on #99
@dhruvvyas90
Hey, did some testing, its unable to do networking or keyboard taps, full information in this comment: https://github.com/dhruvvyas90/qemu-rpi-kernel/issues/100#issuecomment-609785010

[2020-04-11 17:48] eNedo opened #102 "Time out waiting for device :/ .."
I installed everything for emulation of pi on my linux mint, but for some reason i can't get rid of this error.
 [https://prnt.sc/rxey56](url)

I tried diferent .img files but the same error persists. I tried reinstalling QEMU.
Does anyone here had similar issue?
Thanks!

[2020-04-17 06:50] zanazakaryaie opened #103 "How to emulate Raspberry Pi 3 or higher version?"
Hello

The tutorials mention to use `-cpu arm1176 -m 256`. I think these are even slower than raspberry pi zero. How can I config it for raspberry 3 or higher version?

[2020-04-23 14:32] puhitaku commented on #93
<img width="947" alt="image" src="https://user-images.githubusercontent.com/2425178/80107732-6bf54680-85b6-11ea-97ac-1afa5d98f2ba.png">

I've fixed this issue and posted a PR #104 . Here's the detail for those who are interested in...

Every graphic problems should be reported in Xorg log so let's see it:

[code]

X says that there's no framebuffer and it can't continue its job.
The next thing to

[2020-04-26 15:08] puhitaku commented on #93
Time to close here?
Thanks merging! @dhruvvyas90

[2020-04-29 23:13] ProfDavidMora commented on #93
Very informative resolution, thank you so much @puhitaku!

[2020-05-24 11:00] bukyapavankumar opened #105 "request emulate kano os"
previously kanoos used to boot with this kernel .after latest it doesnt .any chances of getting it to work ?

[2020-07-17 19:21] zwhitchcox commented on #103
I'm working on rpi4 ..will this work with this, I would also like to know? Would be good to include this in readme probably

[2020-07-29 21:57] homdx commented on #103
Console version:
https://github.com/wimvanderbauwhede/limited-systems/wiki/Debian-%22buster%22-for-Raspberry-Pi-3-on-QEMU

[2020-08-03 05:37] proski opened #106 "Missing sources for DTB files"
The DTB files are missing sources (the DTS files). Sure, I can decompile them with `dtc`, but I'm missing the comments. It's likely that the sources had copyright statements in the comments. Stripping copyright is really bad! I don't know how to contact the file author. I cannot post a PR modifying the device tree.

If the DTB files were produced as a result of Link kernel builds, please specify i

[2020-09-07 07:29] #105 closed

[2020-09-07 07:32] bukyapavankumar opened #108 "how do i emulate kano os using qemu and this kernel"
i want to emulate kano os which is based on raspbian .
https://kano.me/row/downloadable

you can find kano os images above for pi1,pi2,pi3.

however i couldnt able to boot kano os suceesfully .anyhelp is appreciated.

[2020-09-10 12:03] BlackSmith opened #109 "libvirt + kernel-qemu-5.4.51"
Hi,
I try to use  kernel-qemu-5.4.51 with libvirt (image Raspberry Pi OS (32-bit) Lite 2020-08-20 or 2020-05-27).
But the kernel does not find the root partition.
I have tried these kernel arguments:
[code]
The previous kernel (kernel-qemu-4.19.50-buster) works well with this Raspberry Pi image.
Unfortunately, this version has a problem with docker.io.

[2020-10-01 11:13] dims12 opened #110 "Should USB work with any of the kernels?"
I tried varios combinations of kernels and dtbs but always have

[code]

and unable to access USB devices. Is it possible to configure them?

[2020-10-02 08:54] cmonty14 opened #111 "How to create emulated Rpi with persistence"
Hi,
following this tutorial I can successfully start an emulated Rpi.

However, I would need persistent storage in the virtual machine in order to get a 1:1 replica of the physical Rpi. Hereby I can deploy software first on the virtual machine for testing.

Can you please advise what steps must be included for setting up a emulated Rpi with persistence?

THX

[2020-10-03 13:29] #111 closed

[2020-10-03 13:29] cmonty14 commented on #111
Nor relevant

[2020-10-03 13:44] cmonty14 opened #112 "How to use more memory in emulated system"
Hi,

_-M versatilepb_ restrict the memory configuration to be no more than 256MB.

In order to increase available memory my idea is now to add a file located in host's temporary filesystem and configure this as clients swap.

In Arch Linux, I created this file with
`qemu-create -f raw /tmp/qemutmp/swap.img 256M
`

Now the question is how to add this raw file to QEMU when starting the emulated syst

[2020-10-03 13:59] cmonty14 opened #113 "After resizing raw image the filesystem remains 1.5G"
Hi,

the emulated system shows root filesystem with 1.5GB and 92% used:
[code]

In order to increase the filesystem I resize the image using QEMU tools:
qemu-img resize 2020-08-20-raspios-buster-armhf-lite.img +10G

The output of fdisk -l confirms the new size, however the partition size remains 1.5GB.
[code]
Can you please advise how to resize the image?

THX

[2020-10-03 14:09] #113 closed

[2020-10-03 14:13] cmonty14 commented on #113
Solved.

For those who are interested in the solution, here are the steps I executed:

1. fdisk 2020-08-20-raspios-buster-armhf-lite.img
2. Delete parition 2
3. Create new partition with starting sector 532480 and ending sector proposed by fdisk
4. kpartx -a -s -v 2020-08-20-raspios-buster-armhf-lite.img
5. e2fsck -f /dev/mapper/loop<n>p2
6. resize2fs /dev/mapper/loop<n>p2
7. kpartx -d 2020-08-20-

[2020-10-08 21:11] dhruvvyas90 commented on #112
Qemu now support raspi2/3 machine emulation natively. Please check native-emulation folder on the repo.

[2020-10-08 21:11] #112 closed

[2020-10-08 21:14] dhruvvyas90 commented on #99
@guysoft : Please check additional instructions on how to use native qemu machine raspi2/raspi3 under native-emulation folder. You would need Qemu 5.1 + in order to use keyboard afaik.

[2020-10-08 21:14] #99 closed

[2020-10-08 21:15] dhruvvyas90 commented on #108
@bukyapavankumar : Please consider following instructions under `native-emulation` folder on how to emulate img file using raspi2/3 machine on qemu.

[2020-10-08 21:15] #108 closed

[2020-10-08 22:49] dhruvvyas90 commented on #109
@BlackSmith : Qemu now supports native raspberry pi support with machine options `raspi2` and `raspi3` which doesn't require modified kernels. Can you take a look at `native-emulation` subfolder for steps and see if it solves your problem ? Thanks.

[2020-10-08 22:50] dhruvvyas90 commented on #100
@guysoft : Qemu 5.1+ supports usb controller with raspi machines. Can you follow instructions under `native-emulation` subfolder and see if it allows you to emulate ubuntu 64 bit ? Thanks.

[2020-10-08 23:57] dhruvvyas90 commented on #103
@zanazakaryaie : Try instructions under `native-emulation` subfolder. Qemu now supports raspi2/3 machine that can be used to emulate rpi directly without having to use modified kernels.

[2020-10-08 23:57] #103 closed

[2020-10-08 23:59] dhruvvyas90 commented on #110
@dims12 : You have specify in qemu argument which usb devices you would want to use with emulation. Here's some resources on how to do so. (https://qemu.readthedocs.io/en/latest/system/usb.html)

[2020-10-08 23:59] #110 closed

[2020-10-09 00:00] dhruvvyas90 commented on #54
Closed due to inactivity.

[2020-10-09 00:00] #54 closed

[2020-10-09 15:42] bukyapavankumar commented on #108
WL try it thanks.is this newly added?

[2020-10-10 15:41] dhruvvyas90 commented on #108
Yes.

[2020-10-11 22:45] Cyril-Nachbaur opened #114 "Native Emulation Usb Error"
Hello,

Thanks a lot for this work !

I used the native emulation folder to emulate a RaspberryPi3+ as your exemple.
But when I run it, I have the error "No 'usb-bus' bus found for device 'usb-mouse'.
I tried to find a solution but nothing works for me.
When I remove the lines "-usb -device usb-mouse -device usb-kbd", the emulation works perfectly (but I can't use mouse of course).

Do you have a

[2020-10-13 14:21] dhruvvyas90 commented on #114
@Cyril-Nachbaur : You will need Qemu version 5.1+ to make usb devices work.

[2020-10-14 08:58] bukyapavankumar commented on #108
qemu-system-aarch64: -device usb-mouse: No 'usb-bus' bus found for device 'usb-mouse'
.
how do i fix this .and also keyboard not working.

[2020-10-14 09:02] bukyapavankumar commented on #114
how to check qemu version
qemu -v ,qemu --version ?

[2020-10-14 12:22] bukyapavankumar opened #115 "how do i fix these?"
![Screenshot (26)](https://user-images.githubusercontent.com/25202276/95988089-fc199780-0e45-11eb-8b24-e1a7c19bafb3.png)

[2020-10-14 12:23] bukyapavankumar commented on #115
i tried with -drive format=raw,file=myfilelocation.but it doesnt work

[2020-10-14 17:52] bukyapavankumar commented on #108
@dhruvvyas90  i can only get this far
![Screenshot from 2020-10-14 22-25-27](https://user-images.githubusercontent.com/25202276/96026421-18342d80-0e74-11eb-9726-6532036c7ba6.png)

[2020-10-15 06:59] bukyapavankumar commented on #109
@dhruvvyas90  native emulation offers more performance right?

[2020-10-15 12:00] #115 closed

[2020-10-15 12:03] bukyapavankumar opened #116 "Problem while booting kano os"
Hey , I'm trying to run kano os with qemu native emulation .it can get to the terminal but after I enter login details it remains in terminal not booting to gui. I tried with raspberry os desktop it worked fine.

[2020-10-15 14:58] dhruvvyas90 commented on #109
@bukyapavankumar : It should, yes.

[2020-10-16 16:41] bukyapavankumar commented on #116
update successfully booted kano os but mouse isnt working .im using qemu 5.1.0 .keyboard is working though.

[2020-10-17 06:03] bukyapavankumar commented on #116
@dhruvvyas90  where can i contact you other than here?

[2020-10-19 00:23] dhruvvyas90 commented on #116
@bukyapavankumar : I believe you can use qemu options `-net tap,ifname=tap0` and bridge tap0 to wlan/eth connection to enable internet connection. Hope it helps.

[2020-10-19 04:41] bukyapavankumar commented on #116
@dhruvvyas90  what about mouse ?

[2020-10-19 04:43] bukyapavankumar commented on #116
can you give me an example command for net ? @dhruvvyas90

[2020-10-19 08:29] Cyril-Nachbaur commented on #114
I have updated Qemu to version 5.1+.
I have no more errors now, but my mouse doesn't work anyway

[2020-10-19 09:15] bukyapavankumar commented on #114
i have mouse issues too on qemu 5.1.0.

[2020-10-20 23:00] asgmeonerandom commented on #28
I got black screen too! REVIVE THIS THREAD

[2020-10-21 23:34] asgmeonerandom opened #117 "Kernel panic - not syncing: VFS: Unable to mount root fs on unknown-block(0,0)"
Hello,

please help me to make it work...

this is  what I'm running, on host macOS Catalina:

[code]

I tried before: without `-dtb` and `-kernel jessie` like here: https://gist.github.com/rossja/caf9b639aec1ebce6f227096e3bead38
it didn't show any error, no graphic, but ssh didn't connect.

Does anyone see what I'm doing wrong?
I want to have a enough storage to compile for my raspberry pi 32 bit

[2020-10-23 10:32] bukyapavankumar commented on #117
use versatile pb buster

[2020-10-23 10:34] bukyapavankumar commented on #117
qemu-system-arm \
  -M versatilepb \
  -cpu arm1176 \
  -m 256 \
  -drive "file=/.../2020-05-27-raspios-buster-lite-armhf.img,if=none,index=0,media=disk,format=raw,id=disk0" \
  -device "virtio-blk-pci,drive=disk0,disable-modern=on,disable-legacy=off" \
  -net "user,hostfwd=tcp::5022-:22" \
  -dtb /.../versatile-pb-buster-5.4.51.dtb \
  -kernel /.../kernel-qemu-5.4.51-buster \
  -append 'root=/dev

[2020-10-23 10:56] bukyapavankumar commented on #116
i dont know how to do that on windows

[2020-10-23 14:15] Cyril-Nachbaur commented on #114
@dhruvvyas90
Do you have any idea please ?
No errors with QEMU 5.1+, but it doesn't work anyway.
I tried a lot of different commands, a mouse is displayed but it doesn't move.
I really can't get this mouse working in the Raspbian Desktop.

[2020-10-23 17:52] bukyapavankumar commented on #114
@Cyril-Nachbaur  mouse is working fine on raspberry os. i have problem only in kano os.

[2020-10-23 18:00] dhruvvyas90 commented on #116
According to [this](https://superuser.com/questions/297162/how-to-access-internet-from-qemu), using `-net nic -net user` option should enable www. I don't have windows machine to test it with Qemu 5.1+. Hope it helps.

[2020-10-23 18:03] bukyapavankumar commented on #116
@dhruvvyas90 no it didnt worked .also the mouse isnt working on kano but it is working on raspberry os.

[2020-10-23 18:13] bukyapavankumar commented on #116
@dhruvvyas90 qemu-system-aarch64: warning: hub port hub0port0 has no peer
qemu-system-aarch64: warning: hub 0 with no nics
qemu-system-aarch64: warning: netdev hub0port0 has no peer
qemu-system-aarch64: warning: requested NIC (__org.qemu.net0, model unspecified) was not created (not supported by this machine?)

im getting these in cmd and no internet in raspi as well as kano

[2020-10-23 19:11] Cyril-Nachbaur commented on #114
@bukyapavankumar
Did you use the same command as in the Repo to make the mouse work with raspberry OS ?

[2020-10-24 02:34] bukyapavankumar commented on #114
@Cyril-Nachbaur Yes same command  . It worked fine on raspberry os latest.

[2020-10-25 10:50] bukyapavankumar commented on #117
@asgmeonerandom  im having same issue .did you resolve it?

[2020-10-25 20:38] SimonVleugels commented on #117
Same issue here...

`kernel-qemu-4.19.50-buster` and `versatile-pb.dtb` works. Switching to `kernel-qemu-5.4.51-buster` and `versatile-pb-buster.dtb` gives the same kernel panic.

extra logs:
[code]

[2020-10-26 04:32] bukyapavankumar commented on #117
@SimonVleugels for me the issue is there with buster too

[2020-10-26 12:45] SimonVleugels commented on #117
If you try to emulate a RPI2/3 you should take a look at the [native-emuation](https://github.com/dhruvvyas90/qemu-rpi-kernel/tree/master/native-emuation) directory. This and switching to qemu v5.1.0 worked for me.

[2020-10-26 13:54] bukyapavankumar commented on #117
@SimonVleugels  I'm on qemu 5.1.0 and I'm trying with pi1 which doesn't have native emulation

[2020-10-26 14:05] Cyril-Nachbaur commented on #114
I solved my problem, the image used needs to be recent ( at least the 2020-05-27 version of Raspi OS)

[2020-10-26 14:05] #114 closed

[2020-10-28 15:24] guysoft commented on #100
Saw now, will try when I get time, which I am not sure when that is.

[2020-11-05 06:56] andreatosato commented on #117
@SimonVleugels I want to run raspberry 4 with buster.

My config:
[code]

I'm on windows and I have same issue

[code]

I must downgrade raspbian version to 5.1.0? Cannot it work on 5.4.x?

[2020-11-05 07:41] SimonVleugels commented on #117
This is the config which I'm running. It's working with the latest raspios. I'm using the device tree and kernel image from the [native-emuation](https://github.com/dhruvvyas90/qemu-rpi-kernel/tree/master/native-emuation) directory and qemu-system-aarch64 v5.1.0 (build from source) . Afaik the rpi4 isn't in the machine list and thus not yet supported in `qemu-system-aarch64`.

[code]

[2020-11-05 19:25] andreatosato commented on #117
@SimonVleugels
[code]

[2020-11-05 20:24] andreatosato commented on #117
First resize img, work also with desktop raspbian:
[code]

Launch command:
[code]

Can I use desktop,non only CLI?

[2020-11-06 08:16] SimonVleugels commented on #117
@andreatosato

If you didn't already found, RAM is configured with the `-m` option

To enable mouse and keyboard add:
[code]

[2020-11-06 08:37] andreatosato commented on #117
Raspberry 3 have max RAM equal ti 1gb 😔

[2020-11-11 12:01] jchidley opened #118 "Notes for native-emulation on Arch Linux"
Thanks for doing this.  I had to make some adjustments to get the native emulation to work on Arch Linux.

For Arch, packages `qemu` and `qemu-arch-extra` are required.

After unzipping the Raspbian download to a img file, I needed to use `fdisk -u sectors -l ../Downloads/2020-08-20-raspios-buster-armhf-lite.img` to work out the correct options to setup a loop device.  This showed that the first p

[2020-11-18 17:08] dhruvvyas90 commented on #118
@jchidley : Thank you !! That's very useful info. Would you like to create a wiki post on how to emulate rpi-arch / do you mind if I add the posted info in a wiki post ?

[2020-11-18 17:10] dhruvvyas90 commented on #117
@andreabolognani : You might need to upgrade your qemu to 5.1.5 or above to have usb-keyboard / mouse working. If already done that, ignore this comment.

[2020-11-18 17:11] dhruvvyas90 commented on #116
@bukyapavankumar : Did you find a solution how to share internet connection with qemu on windows ? If yes, can you share it ? That way other folks using it on windows can use the information as well. Thanks.

[2020-11-18 21:28] jchidley commented on #118
You have my permission to reuse what I wrote in this issue, above.  If I were you, I would test the commands to be sure that a syntax error hasn’t crept in.  I am glad that you found it helpful.

[2020-11-19 00:00] dhruvvyas90 commented on #118
Thank you !! I will double check the instructions before publishing it under wiki.

[2020-11-19 16:06] bukyapavankumar commented on #116
No sadly I didn't.

[2020-12-13 20:59] josephernest opened #119 "How to use it with the latest RaspiOS Lite?"
I've downloaded:
* `kernel-qemu-5.4.51-buster`
* `versatile-pb-buster-5.4.51.dtb`
* RaspiOS Lite (Kernel version: 5.4) `2020-12-02-raspios-buster-armhf-lite.img` from https://www.raspberrypi.org/software/operating-systems/

    qemu-system-arm.exe -kernel kernel-qemu-5.4.51-buster -cpu arm1176 -m 256 -M versatilepb -serial stdio -append "root=/dev/sda2 panic=1 rootfstype=ext4 rw" -drive "file=2020

[2020-12-14 01:56] dhruvvyas90 commented on #119
Try native emulation as this guide --> ([Wiki link](https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Native-emulation-of-Rpi2-or-3-using-Qemu's-Raspi2-or-Raspi3-machine) You may need qemu 5.1.0+ for it though for functioning keyboard and mouse.

[2020-12-14 08:32] josephernest commented on #119
@dhruvvyas90 This worked indeed:

[code]

Thank you very much.

Little questions:

* Is there a way to make it work with Rpi4 emulation? `-M raspi4` does not work, it is not listed in `qemu-system-aarch64.exe -machine help` anyway. My goal was to test building of custom built distribution for Rpi4.

* IIRC, this RaspiOS Lite version is `armhf` and 32-bit. Is it normal that it works with `qemu-syst

[2020-12-20 21:46] fr33z3 commented on #102
I have the same issue. Trying out qemu on mac osx.

[2021-01-13 02:55] itolallen opened #120 "Problem with emulation 0f raspi3"
qemu-system-aarch64 -M raspi3 -append "rw earlyprintk loglevel=8 console=ttyAMA0,115200 dwc_otg.lpm_enable=0 root=/dev/mmcblk0p2 rootdelay=1" -dtb dtbs/bcm2710-rpi-3-b-plus.dtb -sd 2020-02-13-raspbian-buster-lite.img -kernel kernel8.img -m 1G -smp 4 -serial stdio -usb -device usb-mouse -device usb-kbd

Result:
WARNING: Image format was not specified for '2020-02-13-raspbian-buster-lite.img' and pr

[2021-01-13 21:21] mrtwnklr commented on #120
Try `qemu-img resize 2020-02-13-raspbian-buster-lite.img 2G`

That's the way it works for example here: https://github.com/hardillb/dockerpi/commit/2c90c4eb6bbaa028a13de61767fb6f80787b23d4

[2021-01-16 15:29] MrDiagnose commented on #120
^^yeah that's how you fix the error resize it

[2021-01-16 15:32] MrDiagnose commented on #119
i think native emulation is emulation of the actual raspberry pi and the other is just emulation of a generic board to run raspberry pi os

[2021-01-16 18:30] MrDiagnose commented on #119
Try this for non-native emulation:
qemu-system-arm.exe -M versatilepb -cpu arm1176 -m 256 -drive "file=2021-01-11-raspios-buster-armhf.img,if=none,index=0,media=disk,format=raw,id=disk0" -device "virtio-blk-pci,drive=disk0,disable-modern=on,disable-legacy=off" -net nic
-net "user,hostfwd=tcp::5022-:22" -kernel kernel-qemu-5.4.51-buster -dtb versatile-pb-buster-5.4.51.dtb -append "root=/dev/vda2 pa

[2021-01-21 14:52] dilyanpalauzov opened #121 "FATAL:zygote_host_impl_linux.cc(117)] No usable sandbox! Update your kernel…"
I start `qemu-system-arm -dtb ./versatile-pb-buster.dtb -kernel ./kernel-qemu-4.19.50-buster -cpu arm1176 -m 256 -M versatilepb  -serial stdio -append "root=/dev/sda2 rootfstype=ext4 rw" -hda ./2021-01-11-raspios-buster-armhf.img` and then I start the chromium-browser within the VM.  The system says:

[12067:12067:0121/165015.646694:FATAL:zygote_host_impl_linux.cc(117)] No usable sandbox! Update y

[2021-01-22 08:45] dilyanpalauzov commented on #121
On a related note, installing Firefox on Raspberry Pi/QEMU and running it, prints “illegal instruction”.  I do not say this is caused by the kernel, but I also do not state the opposite.

[2021-01-27 22:09] dilyanpalauzov opened #122 "Kernel panic on poweroff"
With Qemu 5.2 I start

qemu-system-arm -dtb ./versatile-pb-buster.dtb -kernel ./kernel-qemu-4.19.50-buster -cpu arm1176 -m 256 -M versatilepb -append "root=/dev/sda2 rootfstype=ext4 rw" -drive driver=raw,file=./2021-01-11-raspios-buster-armhf.img,index=0,media=disk -serial stdio

then I log in and type “sudo poweroff”.  The system prints:

[  OK  ] Stopped Create System Users.
[  OK  ] Stopped Rem

[2021-02-18 13:19] RaviBeagle opened #123 "Native emulation issue with latest QEMU"
Hi Dhruv,

I have a jetson nano (arm64 SBC) and I want to check the native emulation performance.
I have Ubunut 20.04 with KVM enabled kernel running

However QEMU crashes with "Illegal Instruction" during kernel boot. I have a built latest QEMU from sources:

./qemu-system-aarch64 --version
QEMU emulator version 5.2.50 (v5.2.0-1731-g5b19cb63d9)

When I run as follows:

../build/qemu-system-aarch6

[2021-02-20 07:08] #123 closed

[2021-02-20 07:08] RaviBeagle commented on #123
This seems a QEMU issue on ARM64. Can be closed.

[2021-02-22 05:55] RaviBeagle commented on #123
Some additional notes:

1) There is a bug in QEMU causing the crash. Raised the bug and it should be fixed soon
2) We cannot use KVM for the native emulation as KVM does not support multiple address spaces that Raspi3 requires.

[2021-02-24 19:17] FreddyFeuerstein opened #124 "VM won't boot up because of usb bus not being there."
When i try to run the final command to start the raspberry pi 3 vm, it gives me the following error:
No 'usb-bus' bus found for device 'usb-mouse'
My version of raspbian is buster and my version of qemu-system-aarch64 is 4.2.1.

[2021-02-25 16:55] dhruvvyas90 commented on #124
Try using qemu version 5.2+.

[2021-02-26 07:46] FreddyFeuerstein commented on #124
I compiled the newer qemu version and it worked like it should. Thank you.

[2021-02-28 20:59] dhruvvyas90 commented on #124
Glad to hear that it works with newer qemu.

[2021-02-28 20:59] #124 closed

[2021-03-19 10:14] ucallmerk commented on #117
For all VFS panic messages,
`Kernel panic - not syncing: VFS: Unable to mount root fs on unknown-block(0,0)                                                                                              CPU: 0 PID: 1 Comm: swapper Tainted: G        W         5.4.51 #1             `

the reason could be one of these
1. Kernel build might have missed to enable EXT4 FS support when building -> kernel-q

[2021-03-20 16:08] wbochra commented on #52
Hello, I am currentlly having the same problem can you halp me i am trying to emulate a raspberry pi (yocto built image) with qemu and i am having the same error in this post this is the qemu command i am using
qemu-system-arm -M versatilepb -cpu arm1176 -kernel /home/ubuntu/qemu_vms/qemu-rpi-kernel-master/kernel-qemu-4.4.34-jessie -append "root=/dev/sda2 panic=1 rootfstype=ext3 rw" -hda /home/ubu

[2021-03-20 16:13] wbochra opened #125 "Unable to mount root fs on unknown-block(31,3)"
Hello, I am trying to boot my raspberry yocto build image with qemu this is the commande line i am running
 qemu-system-arm -M versatilepb -cpu arm1176 -kernel /home/ubuntu/qemu_vms/qemu-rpi-kernel-master/kernel-qemu-4.4.34-jessie -append "root=/dev/sda2 panic=1 rootfstype=ext3 rw" -hda /home/ubuntu/build/tmp/deploy/images/raspberrypi/core-image-minimal-raspberrypi-20210320134208.rootfs.ext3 -m 25

[2021-04-11 02:22] mobilegmYT opened #127 "Add 5.10 kernel"
Recently the RPI foundation bumped the kernels to v5.10, it would be nice as well to have a updated kernel file for running newer RPI OS versions in QEMU.

[2021-04-16 16:35] ElieLiabeuf commented on #127
Also interested.

Can't understand why it's working fine with the kernel8 provided here : https://github.com/dhruvvyas90/qemu-rpi-kernel/tree/master/native-emuation but if I follow the instruction and extract kernel8 from the last raspios it doesnt boot...

[2021-04-16 19:17] NWJeff commented on #127
I have this same issue with the kernel8 that I extracted. Has anyone had success with the new kernel and QEMU? Any suggestions for troubleshooting? May not be an issue that  dhruvvyas90 can fix. Thank you.

[2021-04-16 20:05] ElieLiabeuf commented on #127
Yep, to me it's related to QEMU. If you take the last raspios using kernel 5.4.83 ([this one](https://downloads.raspberrypi.org/raspios_lite_armhf/images/raspios_lite_armhf-2021-01-12/2021-01-11-raspios-buster-armhf-lite.zip)) it works just fine. You can extract bcm2710-rpi-3-b-plus.dtb and kernel8.img and everything runs.

[2021-04-25 12:14] erdnaxeli opened #128 "overlay module"
Hi,

It seems that the overlay module is not builded in those kernel, which prevent to use docker. Would it be possible to add it?

Thanks

[2021-04-30 17:17] Tix3Dev opened #129 "Taking exception 1 [Undefined Instruction] .... - Emulation Problems on Arch Linux"
Hi,

While executing my kernel on Arch Linux I get the following printed in the console (endlessly):

`Taking exception 1 [Undefined Instruction] ...from EL2 to EL2 ...with ESR 0x0/0x2000000 ...with ELR 0x200 ...to EL2 PC 0x200 PSTATE 0x3c9`

This occurs after my kernel clears out the bss section.
The bug would be clear, however this issue occurs on arch linux distros, while debian based distros d

[2021-05-03 21:36] ptrsr commented on #122
https://gitlab.com/qemu-project/qemu/-/issues/64

[2021-05-04 15:12] ptrsr opened #130 "How to compile ARMv8 kernel?"
Hello,

The [ARMv8 kernel](https://github.com/dhruvvyas90/qemu-rpi-kernel/blob/master/native-emulation/5.4.51%20kernels/kernel8.img) works really well. However, I am missing some [kernel](https://cateee.net/lkddb/web-lkddb/USB_DWC2.html) [modules](https://cateee.net/lkddb/web-lkddb/USB_ETH.html) to enable networking on [Arch Linux ARM](https://archlinuxarm.org/platforms/armv8/broadcom/raspberry-pi

[2021-05-07 13:05] #129 closed

[2021-05-16 21:21] ptrsr commented on #130
Turns out that it is the default [5.4.83-v8+](https://github.com/raspberrypi/linux/tree/rpi-5.4.y) kernel, modules and device tree blob work well with Arch Linux ARM on a Raspi3 QEMU board. The only kernel parameter I had to change was `USB_ETH` to **M**odule to enable internet access. Then, the `kernel_modules` have to be installed in the linux distro under `/lib/modules/5.4.83-v8+`/.

[2021-05-16 21:21] #130 closed

[2021-05-20 22:27] mobilegmYT commented on #127
Maybe we could use https://github.com/dhruvvyas90/qemu-rpi-kernel/tree/master/tools?

[2021-06-03 08:06] tswaehn commented on #70
I do have the same issue here:

using cmdline like (which points to relative paths):

[code]
results in message like:

[code]

not sure what I am doing wrong. maybe the device tree file is damaged?

[2021-06-03 08:09] tswaehn commented on #70
when I start qemu with **sudo** the message is little different, maybe telling more about it:

[code]

[code]

[2021-06-03 08:31] guysoft commented on #70
What does ls show?

[2021-06-03 09:12] tswaehn commented on #70
please see here, files are there -- still the issue persists

[code]

[2021-06-03 09:17] tswaehn commented on #70
oh sh****

it was all my bad. I did download the **versatile-pb-buster-5.4.51.dtb** and received the **html** instead of raw ***.dtb** file -- sorry

[2021-06-05 23:33] Jugulaire opened #131 "Unable to get networking in Native emulation."
Hey !

I have successfully started Raspbian in QEMU with this command :

[code]

But i'm unable to get networking inside this box. I've followed the QEMU guide, but I cannot figure out.
Did someone have successfully booted a native emulated raspbian with networking enabled ?

Thanks in advance.

[2021-06-06 07:28] harshcht opened #132 "wrong fs type, bad option, bad superblock : ERROR while mounting the image"
I followed the instructions as in the readme.md file. I download the raspbian OS image and then do :

`sudo losetup -f --show -P ~/2021-05-07-raspios-buster-armhf-full.img`

I get : `/dev/loop14`

now I try to mount the image, but am gettng error

`sudo mount /dev/loop14 /mnt/rpi`

`
mount: /mnt/rpi: wrong fs type, bad option, bad superblock on /dev/loop14, missing codepage or helper program, or o

[2021-06-06 12:28] Jugulaire commented on #131
I have some result.

Here is what i did :

1. Get `2021-01-11-raspios-buster-armhf` image (MUST BE THIS ONE)
2. Extract the dtd and kernel file (follow [this part](https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Native-emulation-of-Rpi2-or-3-using-Qemu's-Raspi2-or-Raspi3-machine#step-by-step-guide-to-extract-dtb-files-and-kernel-image-from-img-file) to do this.
3. Resized the img file `qemu-im

[2021-06-06 12:29] Jugulaire commented on #131
But now i'm wondering if it's possible to connect my qemu RPI to my local bridge to have full networking since my port frowarding are limited to SSH with this techinque.

[2021-06-09 12:44] paulwratt commented on #132
You did not read the intructions right.
`/dev/loop14` is the device id allocation provided by `losetup`, it is equivalent to `/dev/sda` or `/dev/mccblk0`, _none_ of which are _partitions_, needed by `mount`
if `ls /dev/loop14*` lists only one _item_ then run `sudo partprobe /dev/loop14` and try again.
you are looking for (in your case) `/dev/loop14p0` (the FAT16/32 boot partition) and `/dev/loop14

[2021-06-13 09:27] manas-modi100 opened #133 "Kernel image and dtb files for raspi3 emulation"
Required kernel images and dtb files for raspi3 emulation are provided in native-emulation folder. Then, why is the step of extracting kernel images and dtb files from img file required?

[2021-06-14 22:16] ptrsr commented on #133
It is not required, you will be able to start up a distro image using the provided kernel and dtb files. However, it is preferred to use the kernel and dtb files from the image itself to prevent a kernel module version mismatch (in which case, a lot of functionalities might not work, such as ethernet). One problem may be that the kernel version of the image might not be supported by QEMU. I'd sugg

[2021-06-15 11:53] #133 closed

[2021-07-05 18:48] Radoom commented on #131
I'm trying to get a special raspi image to boot (eblocker-2.6). It won't start with the way Jugulaire shows above (thanks!). So I first repeated what Jugulaire did, with the same raspbian image/version mentioned above - that works fine, i.e. with the image "2021-01-11-raspios-buster-armhf".
I also tried a more recent image "2021-05-07-raspios-buster-armhf", but that one does not start at all.
Same

[2021-07-12 10:32] eirikb commented on #28
@asgmeonerandom
Not sure if this is the correct place to post this, but this works for me running arch linux:
[code]

Full demo (including creating image, where the kernel comes from etc.): https://gist.github.com/eirikb/5bbf85d935c512827f859b614799de94

[2021-07-23 23:55] ptrsr commented on #122
This has been fixed in QEMU [v6.1.0-rc0](https://gitlab.com/qemu-project/qemu/-/tags/v6.1.0-rc0).

[2021-07-27 00:27] mobilegmYT commented on #127
What did you mean by this? Like if I extract these out and point qemu to use these instead of the dtb in this repo?

[2021-07-30 13:29] Iuliean opened #134 "Internet connection ?"
How do you set that up ?

[2021-08-01 13:57] ptrsr commented on #134
This is unfortunately difficult to achieve. It is possible for QEMU to add a [virtual USB ethernet adapter](https://wiki.qemu.org/Documentation/Networking#User_Networking_.28SLIRP.29) to the Raspi VM. However, to use this virtual ethernet adapter, the virtual raspi requires two kernel modules: USB_ETH and USB_DWC2. These have to be [compiled](https://www.raspberrypi.org/documentation/linux/kernel/

[2021-08-01 14:07] ptrsr commented on #127
@mobilegmYT right. I can also confirm that `5.4.83` works when compiled from source, while `5.10` does not boot. Might try some different kernel and QEMU versions in the future.

[2021-08-05 07:46] ds2k5 opened #135 "Kernel panic - not syncing: VFS: Unable to mount root fs on unknown-block(0,0)"
Hello,
trying to boot: 2021-05-07-raspios-buster-armhf-lite.img with qemu: 6.0.0

etc/fstab is modifed:

[code]

etc/ld.so.preload is modifyed

`#/usr/lib/arm-linux-gnueabihf/libarmmem-${PLATFORM}.so
`

`
sudo qemu-system-arm -kernel ~/Downloads/qemu-rpi-kernel/kernel-qemu-5.4.51-buster -cpu arm1176 -m 256 -dtb ~/Downloads/qemu-rpi-kernel/versatile-pb-buster-5.4.51.dtb -M versatilepb -serial stdio

[2021-08-05 08:00] ds2k5 commented on #135
fixed the run command parameter, no kernel panic now...but...

[code]

but system hang

![boot_screen](https://user-images.githubusercontent.com/11292286/128313874-8c9bb08d-5716-4b3c-a182-c54554dbe78c.png)

[2021-08-05 08:08] ds2k5 commented on #135
ok do not modfiy the image then it works!

sorry guys

[2021-08-05 08:08] #135 closed

[2021-10-17 10:56] b4ldr opened #136 "[Feature Request] would yu consider uploading a bullseye image"
Thanks for the work in this repo its very much appreciated.

As Debian and raspbian both support buster now i wondered if it would be possible for you t upload a buster image.  I had a go my self but failed miserably.

Thanks

[2021-11-08 16:20] dhruvvyas90 commented on #122
Patched in Qemu 6.1

[2021-11-08 16:20] #122 closed

[2021-11-15 15:39] OrangeDog opened #138 "Bullseye download"
Pi images for Bullseye are now available, it would be good to have a matching kernel (5.10.63) here.
https://downloads.raspberrypi.org/raspios_lite_armhf/images/raspios_lite_armhf-2021-11-08/

[2021-11-16 16:07] dhruvvyas90 commented on #138
Agreed.

[2021-11-28 12:19] wooter6928196219911 commented on #138
Use the native emulation guide for now.

[2021-11-28 17:40] markostamcar commented on #131
Just to add my experience:
- On Windows 10 I managed to get it to work using QEMU 5.1.0 (qemu-w64-setup-20200814) - did not work with the latest QEMU
- Don't be like me and forget to enable ssh using `raspi-config` or `touch /boot/ssh` :)
- It even works with the 64-bit RPi OS (2021-10-30-raspios-bullseye-arm64-lite) - though there was no framebuffer image, but I didn't need it anyway

[2021-12-09 13:06] OrangeDog commented on #138
Oh, I didn't see #136 because it was closed.
I just need to build with that config and then make a PR with the result then?

[2021-12-10 22:25] nateww commented on #134
If you are on a MAC, I created a PR for the native emulation that sync's up the kernel version with the release of RaspiOS to match, so that usb networking works.

See https://github.com/faf0/macos-qemu-rpi/pull/5

[2021-12-16 21:46] #138 closed

[2021-12-16 21:47] dhruvvyas90 commented on #138
Thanks for the PR.

[2021-12-24 12:29] ishangxue opened #141 "why my pc can not come in gui (err:guest has not initialized the display (yet))"
1、My pc:
![系统信息](https://user-images.githubusercontent.com/36391679/147352593-5282cbcd-017c-4586-b925-ec917906a1b7.png)

2、I want to simulate the Raspberry Party

3、I installed QEMU

4、I am prepared file
![使用文件](https://user-images.githubusercontent.com/36391679/147352594-30345ff1-9edb-4051-975d-36a038b78443.png)

5、I am using the command
![命令](https://user-images.githubusercontent.com/36391679/14

[2021-12-26 13:57] fgenoese commented on #134
@ptrsr Would you mind publishing a recent kernel (buster, bullseye) in your repository that includes the two modules needed (USB_ETH and USB_DWC2)?

[2021-12-26 21:46] ptrsr commented on #134
@fgenoese [here you go](https://drive.google.com/drive/folders/1lU8m9WqmT4HeUohXNCxSXGzkfH1pjpYn?usp=sharing).
I'm planning to create a separate repo in which the image, kernel and device tree blob are automatically build and shared. For now you can use the files provided above.

[2022-01-01 00:36] dhruvvyas90 commented on #141
Hello, you can try native emulation (instead of using versatilepb) using Qemu's raspi2/3 machine and see if it works.

[2022-01-15 22:02] tosuns opened #142 "Not able to compile kernels"
I'm trying to compile a kernel for qemu which provides features like /dev/loop and iptable which I need.
I tried to follow the guide to create a custom kernel but it does not work I always get error message similar to
[code]
and afterwards to compilation stops with
[code]
In installed all mentioned packages.

I couldn't event get it to work with the provided files. I copied the content of the file

[2022-01-21 18:24] dhruvvyas90 commented on #142
@tosuns : Why not use default kernel and use native emulation then compiling your own versatilepb kernel ?

[2022-01-21 19:58] tosuns commented on #142
Sorry, but can you provide me more details ? I never compiled a linux kernel. What do you mean with default kernel and what do you mean "use" native emulation to compile my own versatilepb kernel ?
Can you write down the steps ?

[2022-01-21 20:04] dhruvvyas90 commented on #142
This wiki article goes step by step on how to do that. https://github.com/dhruvvyas90/qemu-rpi-kernel/wiki/Native-emulation-of-Rpi2-or-3-using-Qemu's-Raspi2-or-Raspi3-machine

You can just take RPi default kernel (from .img file or RPi) and use it with Qemu. Hope that helps.

[2022-01-25 22:34] pciavald commented on #123
@RaviBeagle can you link said bug report? I'm hitting the same issue, trying to run raspbian on pine64's rockpro64:
[code]
![image](https://user-images.githubusercontent.com/3384097/151070986-1ff8bdb4-a18b-4cbb-86e0-74cfe42d5f5b.png)

[2022-02-05 13:40] RaviBeagle commented on #123
I think this bug should be fixed in latest QEMU release. Nevertheless I don't think QEMU can support native emulation of Raspberry devices..

[2022-03-14 01:06] Cinofe opened #143 "How can I expand the memory size?"
if '-m' value size change 256 to 512 then it is not working.

[2022-03-22 22:24] jbardi commented on #83
raspberry pi lite does not have a desktop GUI interface. It is command line only. Unless you have installed a desktop, the display will not initialize, that is normal.

[2022-03-24 15:25] #143 closed

[2022-03-24 15:26] dhruvvyas90 commented on #142
Steps provided to use native emulation instead.

[2022-03-24 15:26] #142 closed

[2022-03-25 12:29] MrMan314 commented on #141
Try using the 5.4.x kernels, as the 5.10.x kernels (from my experience) do not display, and only print to serial.
The native emulations have no keyboard or mouse support, so you will still have to use serial only.

[2022-03-25 12:31] MrMan314 commented on #141
Additionally, using the versatilepb emulation with GUI will only work with the older versions (I have tested the 3.x kernels with wheezy + LXQT).  The newer versions of Raspberry Pi OS don't seem to boot into a GUI due to the limitations on the memory and processing power.

[2022-03-29 16:44] dhruvvyas90 commented on #141
@ishangxue : Can you try the suggestions by MrMan314 ? Thanks.

[2022-05-05 04:31] ronaldpetty opened #144 "native emulation on aws ec2"
Hello,
Great work! I was trying to native emulation example on AWS EC2.

[code]

I was hoping this would work (and then SSH/console), but I think I don't understand 'lite' and the need for gtk.  I suspect this is even the wrong forum to ask, any tip appreciated.

[2022-05-05 04:44] ronaldpetty commented on #144
I got it, of course, after reading the qemu help :). Thanks for listening.

[code]

[2022-05-05 04:44] #144 closed

[2022-05-20 21:46] realnc commented on #141
I can't get video to work either. I followed the instructions to the letter, but nothing shows up. I tried both the latest bullseye OS image (`2022-04-04-raspios-bullseye-arm64.img`) as well as the legacy one (`2022-04-04-raspios-buster-armhf.img`). I tried both versatilepb and raspi3b.

Example:

[code]

This prints the boot process on the terminal and it gets to the `raspberrypi login:` prompt.

[2022-05-20 23:29] realnc commented on #141
Well, apparently you can't download the image from the site the README.md links to (https://www.raspberrypi.org/downloads/raspbian/). It won't work.

I had to download this instead (found on another guide):

https://downloads.raspberrypi.org/raspios_armhf/images/raspios_armhf-2021-01-12/2021-01-11-raspios-buster-armhf.zip

This one worked right away with native emulation:

![image](https://user-im

[2022-06-08 15:48] Gnafu commented on #120
@dhruvvyas90 It's a physical drive, not an image.
I tried recompiling qemu without the check that prevents usage of non-multiple-of-two sized drives, but then it fails with another error (I don't recall the exact message)

[2022-07-02 12:46] Jukoo commented on #75
I approved ...  💯

[2022-07-04 10:34] eranroll opened #146 "Working RPi Docker with latest Bullseye"
Hi,

Have anyone tried to run RPi Docker with the latest bullseye kernel (5.15.32-v8)?

Regards,

[2022-09-19 08:49] hptsf opened #149 "select menu for building is unmatch?"
./build-kernel-qemu
and select '3' using build-kernel-qemu.conf-5.4.51
it will download raspberrypi-kernel_1.20181112-1.tar.gz
the version is not 5.4.*, just 4.***

[2022-10-30 01:13] yangboz opened #150 "[DEPEND] Dependency failed for Conf…ooth Modems connected by UART."
local env info

macosx12.3 ,brew install qemu,
cmd
[code]

result info
[code]

any idea?